{% if params.changeSymbol === '+' %}
  {% set directionSymbolClasses = "govuk-tag--green app-tag-with-icon app-tag-arrow-up" %}
  {% set changeSymbolPercent = '+' %}
{% elif params.changeSymbol === '-' %}
  {% set directionSymbolClasses = "govuk-tag--red app-tag-with-icon app-tag-arrow-down" %}
  {% set changeSymbolPercent = '' %}
{% endif %}
{% set metricTestId = params.testId or ('headline-column-' + (params.title | lower | replace(' ', '-'))) %}
{% set tileClasses = params.classes if params.classes else "govuk-grid-column-one-half govuk-grid-column-one-quarter-from-tablet govuk-grid-column-one-quarter-from-desktop" %}
{% set units = '<span class="app-big-number-unit"> ' + params.units + '</span>' if params.units else '' %}
<!-- Metrics tile -->
<div class="{{ tileClasses }}" data-testid="{{ metricTestId }}">
  <div class="app-metric-tile">
    <div class="gem-c-big-number">
      <span class="gem-c-big-number__label">{{ params.title }}</span>
      {% if params.count > 0 and params.drillDown.enabled %}
        <span class="gem-c-big-number__value"><a href="{{ params.drillDown.url }}" class="govuk-link govuk-link--no-visited-state">{{ params.count | formatNumber }}{{ units | safe }}</a></span>
      {% else %}
        <span class="gem-c-big-number__value">{{ params.count | formatNumber }}{{ units | safe }}</span>
      {% endif %}
      </span>
    </div>
    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
      <strong class="govuk-tag {{ directionSymbolClasses }}" aria-label="{{ params.ariaLabel }}">
        {{ params.changeValue | formatNumber }} ({{ changeSymbolPercent }}{{ params.changePercentage }}%)
      </strong>

    </div>
    <p class="govuk-body-xs app-metric-caption">{{ params.strapline }}</p>
  </div>
</div>
