{% from "preview-panel-layout/macro.njk" import appPreviewPanelLayout %}
{% from "preview-panel-tabs/macro.njk" import appPreviewPanelTabs %}

{% call appPreviewPanelLayout({}) %}
    {% call appPreviewPanelTabs(params) %}
        {% set model = params.model %}
        {%- include 'preview-components/' + params.questionType | lower + ".njk" -%}
    {% endcall %}
{% endcall %}
