{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<div class="{{ model.previewClasses }}">

{{ model.declarationText | safe }}

{{ govukCheckboxes({
  name: "agree",
  items: [
    {
      value: "checkDeclaration",
      text: "I understand and agree"
    }
  ]
}) }}

<p>Using custom declaration template</p>

</div>
