{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<div class="{{ model.previewClasses }}">

<p>model: {{ model | dump }}</p>

<p>text: {{ model.declarationText | safe }}</p>

{{ govukCheckboxes({
  name: "agree",
  items: [
    {
      value: "checkDeclaration",
      text: "I understand and agree"
    }
  ]
}) }}

<p>Using custom declaration template</p>

</div>
