{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<div class="{{ model.previewClasses }}">

  <!-- heading -->
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label {{ model.label.classes}}" for="DeclarationField">
        {{ model.label.text }}
      </label>
    </h1>
  </div>

  <div class="govuk-form-group">
    <div class="{{ model.declaration.classes }}">
      {{ model.declaration.text | markdown | safe }}
    </div>
  </div>

  {{ govukCheckboxes({
    name: "agree",
    items: [
      {
        value: "checkDeclaration",
        text: "I understand and agree"
      }
    ]
  }) }}
</div>
