{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
<div class="govuk-error-summary-container"></div>

  <form method="post" novalidate="">
    {{ govukFileUpload(model) }}

    <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-button--secondary upload-file-button" data-module="govuk-button" data-govuk-button-init="">
    Upload file
    </button>
  </form>

  <form>
    <div id="uploadedFilesContainer">
      <h2 class="govuk-heading-m">Uploaded files</h2>
        <p class="govuk-body">0 files uploaded</p>
    </div>

  </form>
