{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<div class="govuk-error-summary-container"></div>

  <form method="post" novalidate="" onsubmit="return false;">
    {{ govukFileUpload(model) }}

    {{ govukButton({
      text: "Upload file",
      classes: "govuk-button--secondary upload-file-button",
      preventDoubleClick: true,
      disabled: true
    }) }}
  </form>

  <p class="govuk-body" aria-live="polite">1 of 2 files uploaded</p>
  {{ govukSummaryList({
    classes: "govuk-summary-list--long-key",
    rows: [
      {
        key: {
          text: "File2.jpg"
        },
        value: {
          html: "<strong class=\"govuk-tag govuk-tag--yellow\">Uploading</strong>"
        },
        actions: {
          items: [
            {
              href: "#",
              html: "Remove",
              visuallyHiddenText: "Remove (disabled)",
              classes: "govuk-link--no-visited-state govuk-link--disabled"
            }
          ]
        }
      },
      {
        key: {
          text: "File1.jpg"
        },
        value: {
          html: "<strong class=\"govuk-tag govuk-tag--green\">Uploaded</strong>"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Remove",
              visuallyHiddenText: "Remove (disabled)",
              classes: "govuk-link--no-visited-state govuk-link--disabled"
            }
          ]
        }
      }
    ]
  }) }}
