{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="govuk-form-group {{ model.previewClasses }}">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l {{ model.label.classes }}" for="osgridref">
      {{ model.label.text }}
    </label>
  </h1>

  <div class="govuk-hint {{ model.hint.classes }}">{{ model.hint.text }}</div>

  {{ govukInput({
    id: "osgridref",
    name: "osgridref",
    classes: "govuk-input--width-20 " + (model.userClasses if model.userClasses) + " " + (model.inputClasses if model.inputClasses),
    attributes: {
      maxlength: "12"
    }
  }) }}
</div>

<img src="/assets/images/map-placeholder.jpg" class="govuk-!-margin-bottom-2"
  alt="Illustration to show how an OS grid reference field location can be selected using a map" style="max-width: 100%">


{% if model.instructionText %}
  {{ govukDetails({
    summaryText: "How to find location details",
    html: model.instructionText | markdown | safe,
    classes: model.details.classes if model.details.classes
  }) }}
{% endif %}
