{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="{{ model.previewClasses }}">
  <h2 class="{{ model.headingClasses if model.headingClasses else 'govuk-heading-m' }}">Payment required</h2>

  <p class="govuk-body">{{ model.description }}</p>

  {{ govukWarningText({
    text: "You may see a pending transaction in your bank account but you will only be charged when you submit the form.",
    iconFallbackText: "Warning"
  }) }}

  <p class="govuk-body">You can submit the form after you have added your payment details.</p>

  <p class="govuk-body govuk-!-margin-bottom-1">Total amount:</p>
  <p class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-padding-top-0">{{ model.amount }}</p>

  {{ govukButton({
    text: "Add payment details",
    disabled: true
  }) }}
</div>
