{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-highlight-warning">
  {{ govukWarningText({
    text: "Unsupported component. Contact the developers if you did not expect to see this",
    iconFallbackText: "Warning"
  }) }}
</div>
