{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set errorList = params.errorList | default([], true) %}

{% for key, error in params.formErrors %}
  {% set errorList = (errorList.push({
    text: error.message,
    href: "#" + key
  }), errorList) %}
{% endfor %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: errorList
}) }}
