@use "../govuk-frontend" as *;
@import "accessible-autocomplete";

$defra-brand-colour: govuk-organisation-colour(department-for-environment-food-rural-affairs);

.preview-panel {
  font-family: "GDS Transport", arial, sans-serif;
  outline: solid 1px #008938;
  height: 100%;
  position: sticky;
  top: 0;
  padding: 20px;
  box-shadow: 5px 10px #008938;

  .preview-before-content {
    background-color: #cce2d8;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    border-bottom: 1px solid #008938;
    padding-left: 10px;

    p,
    h2 {
      margin-bottom: 0;
      color: #005a30;
      padding: 2px 8px 3px;
      text-align: center;
    }
  }

  .govuk-tabs__panel {
    p {
      margin-bottom: 30px;
      border-bottom: #008938 1px;
    }
  }

  &.question-preview-panel .border-left-container-shorttext {
    border-left: 10px solid #ffb266;
    padding-left: 20px;
  }

  .govuk-radios__item,
  .govuk-radios__label,
  .govuk-radios__hint,
  .govuk-checkboxes__item,
  .govuk-checkboxes__label,
  .govuk-checkboxes__hint {
    border-bottom: 2px solid transparent;
  }

  .govuk-radios__item:has(> .govuk-hint.highlight),
  .govuk-checkboxes__item:has(> .govuk-hint.highlight) {
    background-color: #ffe5cc;
    border-bottom: 2px solid #ffb266;
  }

  .govuk-link--disabled {
    color: #b1b4b6;
    cursor: default;
    pointer-events: none;
  }

  .highlight {
    border-bottom: 2px solid #ffb266;
    color: govuk-colour("black");

    .highlight {
      border-bottom: inherit;
    }

    // stylelint-disable -- max nesting
    input[type="text"].highlight,
    input[type="number"].highlight,
    select.highlight {
      border-bottom: 2px solid govuk-colour("black");
    }
    // stylelint-enable
  }

  .govuk-radios__hint {
    max-width: calc(100% - 74px);
    overflow-wrap: break-word;
  }
}

// Taken from https://github.com/hmrc/hmrc-frontend/blob/main/src/components/summary-list/_summary-list.scss
@include govuk-media-query($from: tablet) {
  .govuk-summary-list.govuk-summary-list--long-key {
    .govuk-summary-list__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .govuk-summary-list__key {
      flex-grow: 1;
      margin-bottom: 0;
    }

    .govuk-summary-list__actions {
      width: auto;
      margin-bottom: 0;
    }
  }

  .govuk-summary-list.govuk-summary-list--long-actions {
    .govuk-summary-list__actions {
      width: auto;
    }
  }
}
