<div id="preview-container-inner">
    <!-- Before content -->
    <div id="before-content" class="preview-before-content">
        <h2 class="govuk-body-s">{{ params.previewTitle if params.previewTitle else "Previews" }}</h2>
    </div>

    {{ caller() }}
</div>
