<div id="preview-container-inner">
    <!-- Before content -->
    <div id="before-content" class="preview-before-content">
        <p class="govuk-body-s">Previews</p>
    </div>

    {{ caller() }}
</div>
