@use "../govuk-frontend" as *;
@use "../variables/colours" as *;

.formatting-example {
  margin: govuk-spacing(3) 0 govuk-spacing(4);
  background: $app-light-grey;
  overflow-x: auto;
  white-space: pre-wrap;

  @include govuk-responsive-padding(3, "top");
  @include govuk-responsive-padding(5, "right");
  @include govuk-responsive-padding(3, "bottom");
  @include govuk-responsive-padding(5, "left");
}

.lang-md {
  @include govuk-font(19);
}
