@use "../govuk-frontend" as *;

// Custom wide container
$app-container-width: 1300px;

.app-width-container--wide {
  @include govuk-width-container($app-container-width);
}

@include govuk-media-query($from: desktop) {
  .app-display-until-desktop {
    display: none;
  }
}

@include govuk-media-query($until: desktop) {
  .app-display-from-desktop {
    display: none;
  }
}
