.DS_Store
.npm/
.vscode
.idea
.public
.server
node_modules
npm-debug.log
coverage
.cache
/dist/
*/dist/

.env

*/.pnp.*
*.tsbuildinfo

# Playwright
designer/test-results/
designer/playwright-report/
designer/blob-report/
designer/playwright/.cache/
designer/server/test/integration/playwright/.auth/user.json

playwright-report/index.html
test-results/.last-run.json
