{% extends "layouts/forms-website.njk" %}
{% from "masthead/macro.njk" import appMasthead %}

{% block beforeContent %}
{{ appMasthead({
  heading: {
    text: "Resources"
  }
}) }}
{% endblock -%}

{% block content %}
  <div>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="app-prose-scope">
            <h2 id="overview-video">Overview video</h2>
            <p>
              <a href="">Watch an overview video (Sharepoint link)</a> of getting set up with Defra Form Designer and managing the design of your form.
            </p>
            <h2 id="demo-form">Demo form</h2>
            <p>
              <a href="https://submit-form-to-defra.service.gov.uk/form/preview/live/register-as-a-unicorn-breeder/whats-your-name">Look at an example of a published form</a> to see how they look on GOV.UK
            </p>
            <h2 id="question-vault">Question vault</h2>
            <p>
              <a href="">Look at a list of common form questions</a> to save time writing them from scratch.
            </p>
            <h2 id="question-protocols">Question protocols</h2>
            <p>
              <a href="">Download a question protocol spreadsheet</a> to run with colleagues to ensure you are only asking for the information you need.
            </p>
            <h2 id="conditions">Conditions</h2>
            <p>
              <a href="">Look at an example of conditional logic (Mural link)</a> to understand how to plan conditional journeys through your form.
            </p>
            <h2 id="data-protection">Data protection</h2>
            <p>
              <a href="">Go to Defra's data protection Sharepoint page</a> to understand your data protection responsibilities, and find contacts for your Defra organisation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
