{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
  <p class="govuk-body">There are a few ways to get feedback. Check document permissions and make sure
    everyone is comfortable with the tool you are using, like Mural.</p>
  <p class="govuk-body">Consider copying the content into a Word document that everyone can access.</p>
  <p class="govuk-body">If everyone involved is comfortable with Mural, you can ask SMEs to leave feedback on
    sticky notes.</p>

  <h2 id="common-mistakes-in-forms" class="govuk-heading-l">Common mistakes in forms</h2>
  <p class="govuk-body">Look out for these errors.</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Asking for multiple types of contact information when you only need one</li>
    <li>Asking for contact information, like a phone number, with no way to call</li>
    <li>Asking for a title alongside name</li>
    <li>Using the word please in hint text, or overly long hint text</li>
    <li>Replicating phone call scripts and PDF forms without reviewing form structure and questions</li>
  </ul>

  <h2 id="addressing-feedback" class="govuk-heading-l">Addressing feedback</h2>
  <p class="govuk-body">Review the feedback and make appropriate changes to the form. It's a good idea to keep
    versions of the form in case you need to revert back.</p>
  <p class="govuk-body">If the SME has asked for something that's not possible or goes against the design
    principles or accessibility guidelines, provide the reason why you haven't made the change.</p>

  <h2 id="2i" class="govuk-heading-l">2i</h2>
  <p class="govuk-body">Ask a colleague to review (or 2i) your work. You could set up a Slack or Teams channel
    specifically for form 2i-ing or follow whatever method works for you. See <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/reviewing-and-approving-content" class="govuk-link" target="_blank">Reviewing and approving content</a> for more information.</p>
  <p class="govuk-body">The 2i checklist is a good starting point.</p>
{% endblock %}
