{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
  <p class="govuk-body">Most online forms need a privacy notice.</p>
  <p class="govuk-body">A privacy notice clearly explains:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>step by step, what you'll do with the personal information once you've collected it</li>
    <li>why you're collecting personal information</li>
    <li>which of the legal bases you're using for collecting and processing personal information</li>
    <li>how long you'll keep the personal information - or, if there's no set period, how you'll decide how
      long to keep it</li>
  </ul>
  <p class="govuk-body">Read the guidance on collection personal information from users and <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service" class="govuk-link" target="_blank">point 9 of the
    Service Standard</a>.</p>
  <p class="govuk-body">See an <a href="https://www.gov.uk/government/publications/rye-harbour-privacy-notice/rye-harbour-privacy-notice" class="govuk-link" target="_blank">example privacy notice for a form</a>.</p>

  <h2 id="check-if-your-form-is-covered-by-an-existing-privacy-notice" class="govuk-heading-l">Check if your
    form is covered by an existing privacy notice</h2>
  <p class="govuk-body">Ask your SME if they already have a privacy notice on GOV.UK for a related form. In
    some instances, you can use the standard privacy notice for each organisation. The Data Protection team
    for each organisation can advise on which privacy notice to use.</p>

  <h2 id="data-protection-impact-assessments" class="govuk-heading-l">Data protection impact assessments</h2>
  <p class="govuk-body">Ask your SME to fill in the data protection impact assessment questions - each Defra
    group organisation has their own screening question form.</p>
  <p class="govuk-body">Each Data Protection team will use the answers to the screening questions to determine
    if a full data protection impact assessment is needed. Most form requests do not need a full impact
    assessment.</p>

  <h2 id="privacy-notice-templates" class="govuk-heading-l">Privacy notice templates</h2>
  <p class="govuk-body">Templates are available if you need a new privacy notice.</p>

  <h3 class="govuk-heading-m">Defra and APHA</h3>
  <p class="govuk-body">Use the general privacy notice template from the privacy notice templates (collecting
    personal data) intranet page. Follow the guidance within the template to either add or remove
    information.</p>
  <p class="govuk-body">The SME will also need to fill in the Defra and APHA screening questions</p>

  <h3 class="govuk-heading-m">Environment Agency (EA)</h3>
  <p class="govuk-body">Ask the SME to review the Environment Agency data protection policies and guidance and
    fill in the DPIA screening form.</p>
  <p class="govuk-body">Use the EA template to draft the privacy notice.</p>
  <p class="govuk-body">You can also contact the EA Data Protection team email address on <a href="mailto:dataprotection@environment-agency.gov.uk" class="govuk-link">dataprotection@environment-agency.gov.uk</a></p>

  <h2 id="data-protection-team-contacts" class="govuk-heading-l">Data protection team contacts</h2>
  <p class="govuk-body">Check the directory for a list of Defra organisations and who to contact about data
  protection and privacy notices.</p>
{% endblock %}
