{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
<p class="govuk-body">Each additional question in a form increases the risk that someone will abandon the
  form.</p>
<p class="govuk-body">Question protocols help you to collect only the right information. But they take a
  while to do, so best used for long and complex forms.</p>
<p class="govuk-body">Question protocols typically cover these themes and questions.</p>

<h2 id="usage" class="govuk-heading-l">Usage</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Why do we need this information?</li>
  <li>What decisions are made with it?</li>
  <li>Is it mandatory? If not, why are we still asking for it?</li>
  <li>Where is it used? By whom?</li>
</ul>

<h2 id="source" class="govuk-heading-l">Source</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Do we already have this data?</li>
  <li>How easy is it for the user to provide it?</li>
  <li>When is it needed (for example, after an eligibility check)?</li>
  <li>What format do we need it in?</li>
</ul>

<h2 id="veracity" class="govuk-heading-l">Veracity</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>How will we validate the information is correct?</li>
  <li>What happens if the data is wrong or missing?</li>
</ul>

<h2 id="maintenance" class="govuk-heading-l">Maintenance</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>How often is this information likely to change?</li>
  <li>How will we find out it has changed?</li>
  <li>Who in Defra will own this data?</li>
  <li>Where will it be stored?</li>
  <li>When will it be archived or deleted?</li>
</ul>

<h2 id="structure" class="govuk-heading-l">Structure</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Can this information be structured as data?</li>
  <li>How do we create that structure?</li>
  <li>Will we need an 'other' field, at least to start with?</li>
</ul>
<p class="govuk-body">Use this <a href="https://defra.sharepoint.com/:x:/r/teams/Team1466/_layouts/15/Doc.aspx?sourcedoc=%7b7CEE7470-60F1-4F69-8A74-7D1BA31A5ABB%7d&amp;file=DefraForms_question-protocol.xls.xlsx&amp;action=default&amp;mobileredirect=true" class="govuk-link" target="_blank">spreadsheet</a> to run a protocol session with your colleagues.</p>
{% endblock %}
