{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
  <p class="govuk-body">There could be lots of people involved in a form.</p>
  <p class="govuk-body">Start by figuring out:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>who has information you need to make the form</li>
    <li>who will help draft</li>
    <li>who needs to sign off</li>
  </ul>

  <h2 id="screening-questions" class="govuk-heading-l">Screening questions</h2>
  <p class="govuk-body">Use these screening questions to check if your SME is prepared to make a form.</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>What's the name and email address of the form owner?</li>
    <li>If the form exists, is there a link to it?</li>
    <li>If the form is updated frequently?</li>
    <li>How many form submissions do you expect per year? (an estimate is fine but try and find evidence if
      you can)</li>
    <li>What is the email address submissions will go to?</li>
    <li>Do you need to collect payment from users?</li>
    <li>Do you need location data for premises that don't have an address?</li>
    <li>Do you need to collect documents and images?</li>
    <li>Do users need to answer a set of repeated questions?</li>
    <li>Will the form need to calculate answers provided by the user?</li>
    <li>Is there an existing guide on GOV.UK?</li>
    <li>Do you have a deadline and what's the reason for it?</li>
    <li>How long does your form need to be available GOV.UK?</li>
  </ul>

  <h2 id="exploration-workshop" class="govuk-heading-l">Exploration workshop</h2>
  <p class="govuk-body">You might want to host a workshop with your SME to gather more requirements. You can
    use the <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1724855366781/f58c00ef0d9a58547254dd548fc87b5bcf7eddb5?wid=0-1725283801335&amp;outline=open%22%20%5ct%20%22_blank" class="govuk-link" target="_blank">Mural workshop template</a> or the <a href="https://app.mural.co/t/defraallcompany8330/m/defraallcompany8330/1752485762923/88ba78e12ec9956b5dc89708f11efb9def7ba1" class="govuk-link" target="_blank">Defra Mural template</a>. Update the board with any information you have and
    consider:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>asking a second content designer to help you take notes</li>
    <li>recording the exploration workshop to refer to later</li>
    <li>using the auto transcript feature</li>
  </ul>
{% endblock %}
