// Components
.app-vertical-divider {
  color: #b1b4b6;
  display: inline-block;
  margin: 0 4px;
}

//
// Pages
//

// Manage conditions
.app-conditions-table {
  .govuk-table__header {
    height: 50px;
    vertical-align: middle;
  }
}
