@use "sass:math";

@use "prismjs/themes/prism.min";

@use "govuk-frontend" as *;
@use "variables/colours" as *;

@use "components/flyout";
@use "components/visualisation";

$app-code-font: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;

// Sort up/down button sizes
$app-action-small: govuk-em(39px, $context-font-size: 16);
$app-action-large: govuk-em(44px, $context-font-size: 19);

// Offset vertical alignment for button border
$app-action-offset: math.div($govuk-border-width-form-element, 2);

// Sort up/down icon sizes
$app-action-icon-small: math.div($app-action-small, 2);
$app-action-icon-large: math.div($app-action-large, 2);

// Offset vertical alignment for button border
$app-action-icon-small-offset: math.div($app-action-icon-small, 20);
$app-action-icon-large-offset: math.div($app-action-icon-large, 20);

%app-button-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  & {
    display: inline;
    align-items: normal;
    text-align: left;
    font-size: inherit;
    appearance: none;
    color: $govuk-link-colour;
    background-color: transparent;
    border: none;
  }
}

.govuk-link[type="button"] {
  @extend %app-button-link;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  .govuk-form-group & {
    display: block;
  }
}

code pre,
code[class],
pre[class] {
  @include govuk-typography-common($font-family: $app-code-font);
  @include govuk-font-size($size: 16, $line-height: 1.5);
}

pre[class] {
  padding: 0;
  margin: 0;
  background: none;
  overflow: visible;
}

pre code {
  display: block;
  padding: govuk-spacing(4);
  overflow-x: auto;
  background-color: $app-light-grey;
}

p code {
  padding: 1px 3px;
  color: $app-code-color;
  background-color: $app-light-grey;
  @include govuk-font-size($size: 16);
  @include govuk-media-query($from: tablet) {
    padding: 2px 4px;
  }
}

.app-tabs--overview {
  @include govuk-responsive-margin(7, "top");

  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-margin(6, "top");
  }

  @include govuk-media-query($from: desktop) {
    @include govuk-responsive-margin(1, "top");
  }
}

.app-button--editor,
.app-button--result {
  display: block;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");
    box-shadow: none;
    cursor: pointer;
  }
}

.app-button--editor {
  background-color: govuk-colour("black");
  box-shadow: 0 1px 0 govuk-colour("white");
  color: govuk-colour("white");
  @include govuk-font-size($size: 16);
}

.app-button--result {
  min-height: $app-action-small;
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: govuk-colour("black");

  .app-results--panel & {
    min-height: auto;
  }

  .app-results--panel &:hover,
  .app-results--panel &:focus {
    background-color: transparent;
  }

  @include govuk-media-query($from: tablet) {
    min-height: $app-action-large;
  }
}

.app-results {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  &--panel {
    margin: 0 govuk-spacing(4) * -1 govuk-spacing(4);
    box-shadow: 0 ($govuk-border-width-form-element * -1) 0 $app-action-divider-color;
  }
}

.app-result {
  position: relative;

  &:hover {
    background-color: $app-result-focus-color;
    box-shadow: 0 $govuk-border-width-form-element 0 $app-result-focus-color;
  }

  &:focus-within:not(:hover) {
    background-color: $app-result-focus-within-color;
    box-shadow: 0 $govuk-border-width-form-element 0 $app-result-focus-within-color;
  }

  .app-results--panel & {
    &,
    &:hover,
    &:focus-within {
      background-color: transparent;
      border: solid $app-action-divider-color;
      border-width: 0 0 $govuk-border-width-form-element;
      box-shadow: none;
    }
  }

  &__container {
    margin: 0;
    box-sizing: border-box;
    line-height: inherit;

    span {
      pointer-events: none;
    }

    .app-results--panel & {
      min-height: govuk-spacing(8);
      padding: govuk-spacing(3) 120px govuk-spacing(3) govuk-spacing(4);
    }
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
    margin: 0;
    column-gap: 1px;
    background-color: $app-action-divider-color;
    box-shadow: 0 $govuk-border-width-form-element 0 $app-action-border-color;

    @at-root {
      .app-result:hover &,
      .app-result:focus-within &,
      .app-results--panel & {
        z-index: 1;
      }

      .app-results--panel &,
      .app-results--panel &:focus-within {
        height: 100%;
        box-shadow: none;
        background-color: $app-action-divider-color;
      }
    }

    &:focus-within {
      background-color: $app-action-focus-color;
      box-shadow: 0 $govuk-border-width-form-element 0 $app-action-focus-border-color;
    }
  }

  &__action-up,
  &__action-down {
    width: $app-action-small;
    height: $app-action-small;
    margin-bottom: 0;

    .app-results--panel & {
      display: flex;
      height: 100%;
      box-shadow: none;
    }

    .app-results--panel &::after {
      margin-top: 0;
    }

    @include govuk-media-query($from: tablet) {
      width: $app-action-large;
      height: $app-action-large;
    }
  }

  @include govuk-media-query($from: tablet) {
    .app-results--panel &__action-up,
    .app-results--panel &__action-down {
      display: flex;
      height: 100%;
      box-shadow: none;
    }
  }

  &__action-up::after,
  &__action-down::after {
    position: absolute;
    left: 50%;
    width: $app-action-icon-small;
    height: $app-action-icon-small;
    margin: math.div($app-action-icon-small, -2) 0 0 math.div($app-action-icon-small, -2);

    @include govuk-media-query($from: tablet) {
      width: $app-action-icon-large;
      height: $app-action-icon-large;
      margin: math.div($app-action-icon-large, -2) 0 0 math.div($app-action-icon-large, -2);
    }
  }

  &__action-up::after {
    top: calc(50% + $app-action-offset);
    content: "▲";

    // Optically align up arrow (higher) when anchored
    // to the top of results panel rows
    .app-results--panel & {
      top: calc(govuk-spacing(3) - $app-action-icon-small-offset);
    }

    @include govuk-media-query($from: tablet) {
      .app-results--panel & {
        top: calc(govuk-spacing(3) - $app-action-icon-large-offset);
      }
    }
  }

  &__action-down::after {
    content: "▼";

    // Optically align down arrow (lower) when centred
    // within page visualisation components
    top: calc(50% + $app-action-offset + $app-action-icon-small-offset);

    @include govuk-media-query($from: tablet) {
      top: calc(50% + $app-action-offset + $app-action-icon-large-offset);
    }

    .app-results--panel & {
      top: govuk-spacing(3);
    }
  }
}

.app-group {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.app-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: normal;

  width: 76%;
  margin: -2px -4px;
  padding: 15px 6px;
  background-color: govuk-colour("light-grey");
  color: govuk-colour("dark-grey");

  @at-root {
    .app-result:focus-within & {
      background-color: govuk-tint($app-result-focus-within-color, 35%);
    }

    .app-result:hover &,
    .govuk-button:hover &,
    .govuk-button:focus & {
      background-color: govuk-tint($app-result-focus-color, 35%);
    }
  }
}

%app-icon {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 4px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: small;
  line-height: 1;
}

%app-field-text {
  display: flex;
  border: solid govuk-colour("black");

  .app-content & {
    border-color: govuk-colour("dark-grey");
  }
}

%app-field-line {
  @extend %app-field-text;
  width: 80%;
  border-width: 2px 0 0;

  &,
  &:only-child {
    margin: 4px 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .app-field-radio ~ &,
  .app-field-checkbox ~ & {
    margin: 0;
  }
}

%app-field-input {
  position: relative;
  display: flex;
  box-sizing: border-box;
  font-size: small;
  line-height: 1;
  width: 125px;
  height: 24px;
  padding: 2px;
  border: solid 2px govuk-colour("black");

  &:only-child {
    margin: -2px 0;
  }
}

.app-field-radio,
.app-field-checkbox {
  width: 16px;
  height: 16px;
  margin: 2px 0;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  border: solid 2px govuk-colour("black");
}

.app-field-radio {
  border-radius: 50%;

  &--checked {
    background-color: govuk-colour("black");
    box-shadow: inset 0 0 0 2px govuk-colour("white");

    @at-root {
      .app-result:focus-within & {
        box-shadow: inset 0 0 0 2px $app-result-focus-within-color;
      }

      .app-result:hover &,
      .govuk-button:hover &,
      .govuk-button:focus & {
        box-shadow: inset 0 0 0 2px $app-result-focus-color;
      }
    }
  }
}

.app-field-checkbox {
  position: relative;

  &--checked::before {
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    width: 40%;
    height: 22%;
    transform: rotate(-45deg);
    border: solid govuk-colour("black");
    border-width: 0 0 3px 3px;
    content: "";
  }
}

.app-field-heading {
  @extend %app-field-text;
  width: 36%;
  border-width: 4px 0 0;
  margin-bottom: 4px;
}

.app-field-line {
  @extend %app-field-line;

  &-m,
  &-s,
  &-xs {
    @extend %app-field-line;
  }

  &-m {
    width: 60%;
  }

  &-s {
    width: 30%;
  }

  &-xs {
    width: 10%;
  }
}

.app-field-input {
  @extend %app-field-input;

  &-m,
  &-s,
  &-xs {
    @extend %app-field-input;
  }

  &-m {
    width: 90px;
  }

  &-s {
    width: 45px;
  }

  &-xs {
    width: 25px;
  }
}

.app-field-textarea {
  @extend %app-field-input;
  height: 60px;
}

.app-field-address {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 6px 0;
  row-gap: 4px;
}

.app-field-details {
  flex-direction: row;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.app-field-inset {
  padding-left: 20px;

  &::before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 8px;
    width: 4px;
    background: govuk-colour("mid-grey");
    content: "";
  }
}

.app-field-prefix,
.app-field-suffix {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: govuk-colour("light-grey") govuk-image-url("file-upload-icon.svg") no-repeat;
  background-position: 50% 50%;
  background-size: 12px 12px;
  border: solid govuk-border-width-form-element govuk-colour("black");
  border-width: 0 2px 0 0;

  &__contents {
    display: block;
    margin: auto;
    height: 100%;
  }
}

.app-field-suffix {
  left: auto;
  right: 0;
  border-width: 0 0 0 2px;
}

.app-icon {
  @extend %app-icon;
  @include govuk-font-tabular-numbers;

  &--autocomplete {
    column-gap: 1px;

    &::before {
      content: "Abc";
    }

    &::after {
      color: govuk-colour("mid-grey");
      content: "|";
    }
  }

  &--details::before {
    content: "▶";
  }

  &--dropdown {
    justify-content: end;

    &::after {
      content: "▼";
    }
  }

  &--email::before {
    content: "@";
  }

  &--phone::before {
    content: "☎";
  }

  &--number::before {
    content: "123";
  }

  &--textarea {
    align-items: end;
    justify-content: end;

    &::after {
      content: "⌟";
    }
  }

  &--bullet::before {
    content: "•";
  }
}

.govuk-main-wrapper--editor {
  min-height: govuk-em(600px, $context-font-size: 16);
  padding-bottom: 0;
}

.govuk-button--secondary-defra-quiet {
  color: $defra-brand-colour;
  border-color: $defra-brand-colour;
}
