@use "govuk-frontend" as *;

.govuk-width-container {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $govuk-gutter;
  padding-left: $govuk-gutter;

  @include govuk-media-query($from: desktop) {
    padding-right: $govuk-gutter * 2;
    padding-left: $govuk-gutter * 2;
  }
}

.govuk-width-container--default {
  @include govuk-width-container;
}

// Components
.app-vertical-divider {
  color: #b1b4b6;
  display: inline-block;
  margin: 0 4px;
}

.app-table-actions {
  width: 150px;
  white-space: nowrap;
}

.app-condition-applied {
  background-color: govuk-colour("white");
  border-left: 4px solid #00703c;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__details {
    flex: 1;
  }

  &__actions {
    margin-left: govuk-spacing(4);
    flex-shrink: 0;

    form {
      display: inline;
    }
  }
}

.app-tab-container .editor-card-title {
  display: inline-block;
  margin-right: govuk-spacing(4);
  padding: govuk-spacing(2) 0 govuk-spacing(3);
  position: relative;

  text-decoration: none;
  box-shadow: none;
  text-underline-offset: initial;

  font-weight: bold;
  color: govuk-colour("black");

  &.app-tab-link {
    font-weight: normal;
    color: #1d70b8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      @include govuk-focused-text;
    }
  }
}

// Only show title underline when container is title-only
.app-tab-container--title-only .editor-card-title:not(.app-tab-link)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #00703c;
}

.app-page-navigation {
  display: inline-block;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: govuk-spacing(4);
    position: relative;
  }

  &__link {
    color: #1d70b8;
    text-decoration: none;
    display: block;
    padding: govuk-spacing(2) 0 govuk-spacing(3);
    position: relative;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      @include govuk-focused-text;
    }
  }
}

.app-page-navigation__item--current .app-page-navigation__link {
  color: govuk-colour("black");
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 6px;
    background-color: #00703c;
  }
}

.app-tab-container {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: govuk-spacing(4);
}

//
// Pages
//

// Pages header layout
.app-pages-header {
  &__title {
    margin-top: 10px;

    @include govuk-media-query($from: desktop) {
      float: left;
    }
  }

  &__actions {
    text-align: right;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__action-button {
    white-space: nowrap;
    padding: 12px 18px;
    font-size: 18px;
    min-width: auto;
    margin-bottom: 0;
  }
}

// Manage conditions
.app-conditions-table {
  .govuk-table__header {
    height: 50px;
    vertical-align: middle;
  }
}

.govuk-checkboxes__tick.green-tick {
  color: govuk-colour("green");
  margin-right: 5px;
}

[id="page-overview"]:focus {
  outline: none;
}

[id="page-overview"]:focus-visible .editor-card-title {
  background-color: govuk-colour("yellow");
  outline: 3px solid govuk-colour("yellow");
  outline-offset: 0;
}

.govuk-highlight-warning {
  background-color: govuk-colour("light-pink");
  padding-left: 10px;
}

dt.govuk-summary-list__key.govuk-summary-list__key40 {
  width: 40%;
}
