$govuk-assets-path: "/assets/";

@import "govuk-frontend/dist/govuk/base";
@import "prismjs/themes/prism.min.css";

%app-button-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  color: $govuk-link-colour;
  background-color: transparent;
  border: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.button {
  width: 30%;
  height: 24px;
  cursor: pointer;

  &.active:hover {
    background-color: govuk-colour("yellow");
  }

  &.search {
    width: 20px;
    height: 20px;
  }
}

.app-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button.govuk-link {
  @extend %app-button-link;
  @include govuk-font-size($size: 16);
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  .govuk-form-group & {
    display: block;
  }
}

.menu {
  .govuk-button {
    @include govuk-responsive-margin(1, "right");
    @include govuk-responsive-margin(1, "bottom");
    @include govuk-font-size($size: 16);
  }

  &__row:not(:first-child) {
    @include govuk-responsive-margin(4, "top");
  }
}

.submenu__link {
  @include govuk-font-size($size: 16);
  @include govuk-responsive-margin(4, "right");
}

.component {
  cursor: pointer;
  // margin-bottom: 4px;
  // padding: 6px;

  &:hover {
    background-color: govuk-colour("yellow");
  }

  .line {
    width: 75%;
    margin-bottom: 4px;
    border-top: solid 2px #000;

    &.short {
      width: 50%;
    }
  }

  .circle {
    width: 24px;
    height: 24px;
    border: solid 2px #000;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
  }

  .check {
    width: 24px;
    height: 24px;
    border: solid 2px #000;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
  }

  .box {
    width: 100px;
    height: 20px;
    border: solid 2px #000;

    &.tall {
      height: 50px;
    }

    &.small {
      width: 16px;
    }

    &.medium {
      width: 46px;
    }

    &.large {
      width: 146px;
    }

    &.dropdown {
      &:after {
        content: "\25BC";
        float: right;
        margin-top: 2px;
        font-size: small;
      }
    }

    &.email {
      &:before {
        content: "@";
        font-size: small;
        padding-left: 2px;
      }
    }

    &.tel {
      &:before {
        content: "\260E";
        font-size: small;
        padding-left: 2px;
      }
    }

    &.number {
      &:after {
        content: "\21F3";
        float: right;
      }
    }

    span {
      padding-left: 3px;
    }
  }

  span.box,
  span.button,
  span.line {
    display: inline-block;
  }

  .inset {
    border-left: 6px solid #bfc1c3;
  }

  .warning {
    border-left: 6px solid #bfc1c3;
  }

  .html {
    &:before {
      content: "⟨";
      font-size: 20px;
    }
    &:after {
      content: "⟩";
      font-size: 20px;
    }
  }
}

.component-item {
  position: relative;
}

.dragging {
  background-color: govuk-colour("yellow");
}

.dragging-on-modal {
  z-index: 1000;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: govuk-colour("yellow");
}

.govuk-table__row {
  .list-item-delete {
    cursor: pointer;
    visibility: hidden;
  }

  .list-item-component-add {
    cursor: pointer;
    visibility: hidden;
  }

  &:hover {
    .list-item-delete {
      visibility: visible;
    }
    .list-item-component-add {
      visibility: visible;
    }
  }
}

polyline {
  cursor: pointer;

  fill: none;
  stroke-width: 4;
  stroke: #000000;

  &:hover {
    stroke: govuk-colour("yellow");
    opacity: 1;
  }

  :after {
    content: "sada";
  }
}

/* Syntax highlighting */
.editor:focus-within {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}

.govuk-input__input {
  &.disabled {
    cursor: default;
    pointer-events: none;
    & + .govuk-checkboxes__label {
      opacity: 0.5;
    }
  }
}

.page-linkage {
  &__drag-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  &__highlight-area {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background-color: #fceabe;
    box-shadow: 0px 0px 0px 6px govuk-colour("yellow");
  }

  &__line {
    fill: govuk-colour("yellow");
    stroke: govuk-colour("yellow");
    stroke-width: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;

    pointer-events: none;
  }
}

.govuk-link--v-centre {
  display: inline-block;
  position: relative;
  top: 1em;
  transform: translateY(-50%);
}

.warning {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px;
  background-color: govuk-colour("yellow");

  &__action:not(:first-of-type) {
    margin-left: 10px;
  }

  &__title {
    margin-top: 0;
  }
}

.panel--flyout {
  position: relative;
}
