$govuk-assets-path: "/assets/";

@import "govuk-frontend/dist/govuk/base";
@import "prismjs/themes/prism.min";

@import "variables/all";
@import "helpers/all";

@import "../components/ComponentCreate/ComponentCreate.scss";
@import "../components/Flyout/Flyout.scss";
@import "../components/Visualisation/visualisation.scss";

$app-code-font: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;
$app-code-color: #d13118;
$app-light-grey: #f8f8f8;

%app-button-link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  color: $govuk-link-colour;
  background-color: transparent;
  border: none;
}

.button {
  width: 30%;
  height: 24px;
  cursor: pointer;

  &.active:hover {
    background-color: govuk-colour("yellow");
  }

  &.search {
    width: 20px;
    height: 20px;
  }
}

button.govuk-link {
  @extend %app-button-link;
  @include govuk-font-size($size: 16);
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  .govuk-form-group & {
    display: block;
  }
}

code pre,
code[class],
pre[class] {
  @include govuk-typography-common($font-family: $app-code-font);
  @include govuk-font-size($size: 16, $line-height: 1.5);
}

pre[class] {
  padding: 0;
  margin: 0;
  background: none;
  overflow: visible;
}

pre code {
  display: block;
  padding: govuk-spacing(4);
  overflow-x: auto;
  background-color: $app-light-grey;
  border: $govuk-focus-width solid transparent;

  &:focus {
    border: $govuk-focus-width solid $govuk-input-border-colour;
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

p code {
  padding: 1px 3px;
  color: $app-code-color;
  background-color: $app-light-grey;
  @include govuk-font-size($size: 16);
  @include govuk-media-query($from: tablet) {
    padding: 2px 4px;
  }
}

.app-tabs--overview {
  @include govuk-responsive-margin(7, "top");

  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-margin(6, "top");
  }

  @include govuk-media-query($from: desktop) {
    @include govuk-responsive-margin(1, "top");
  }
}

.component.govuk-link {
  display: block;
  width: 100%;
  @include govuk-responsive-padding(2);

  color: govuk-colour("black");
  text-decoration: none;
  text-align: left;

  &:hover,
  &:focus {
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");
    box-shadow: none;
    cursor: pointer;
  }

  > div {
    pointer-events: none;
  }

  .line {
    width: 75%;
    margin-bottom: 4px;
    border-top: solid 2px #000;

    &.short {
      width: 50%;
    }
  }

  .circle {
    width: 24px;
    height: 24px;
    border: solid 2px #000;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
  }

  .check {
    width: 24px;
    height: 24px;
    border: solid 2px #000;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
  }

  .box {
    width: 100px;
    height: 20px;
    border: solid 2px #000;

    &.tall {
      height: 50px;
    }

    &.small {
      width: 16px;
    }

    &.medium {
      width: 46px;
    }

    &.large {
      width: 146px;
    }

    &.dropdown {
      &:after {
        content: "\25BC";
        float: right;
        margin-top: 2px;
        font-size: small;
      }
    }

    &.email {
      &:before {
        content: "@";
        font-size: small;
        padding-left: 2px;
      }
    }

    &.tel {
      &:before {
        content: "\260E";
        font-size: small;
        padding-left: 2px;
      }
    }

    &.number {
      &:after {
        content: "\21F3";
        float: right;
      }
    }

    span {
      padding-left: 3px;
    }
  }

  span.box,
  span.button,
  span.line {
    display: inline-block;
  }

  .inset {
    border-left: 6px solid #bfc1c3;
  }

  .html {
    width: 78%;
    font-weight: bold;
    font-size: 20px;

    &:before,
    &:after {
      position: relative;
    }

    &:before {
      left: -1px;
      content: "⟨";
    }

    &:after {
      right: -1px;
      content: "⟩";
    }
  }
}

.component-item {
  position: relative;

  &:hover {
    background-color: govuk-colour("yellow");

    .component-move {
      visibility: visible;
    }
  }

  .govuk-button-group {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.component-move {
  visibility: hidden;
  margin-bottom: 0;
  @include govuk-responsive-padding(2);
}

/* Syntax highlighting */
.editor:focus-within {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
  box-shadow: inset 0 0 0 $govuk-border-width-form-element;
}

.govuk-main-wrapper--editor {
  padding-bottom: 0;
}

.govuk-input__input {
  &.disabled {
    cursor: default;
    pointer-events: none;
    & + .govuk-checkboxes__label {
      opacity: 0.5;
    }
  }
}

.panel--flyout {
  position: relative;
}
