{% extends "layouts/forms-website.njk" %}
{% from "masthead/macro.njk" import appMasthead %}

{% block beforeContent %}
{{ appMasthead({
  heading: {
    text: "Making a form"
  }
}) }}
{% endblock -%}

{% block content %}
<div>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-prose-scope">
       <h2>Get started</h2>
          <p>
            <a href="/making-a-form/make-sure-you-need-a-form">Make sure you need a form</a>
          </p>
          <p>
            <a href="">View the demo form</a>
          </p>
          <p>
            <a href="">Watch the overview video</a>
          </p>
      <h2>Planning and design</h2>
        <p>
          <a href="/making-a-form/what-makes-a-good-form">What makes a good form</a>
        </p>
        <p>
          <a href="/making-a-form/get-the-right-people-together">Get the right people together</a>
        </p>
        <p>
          <a href="/making-a-form/plan-to-receive-online-submissions">Plan to receive digital submissions</a>
        </p>
        <p>
          <a href="/making-a-form/only-ask-for-information-you-need">Only ask for information you need</a>
        </p>
        <p>
          <a href="">Make questions easy to answer</a>
        </p>
        <p>
          <a href="/making-a-form/plan-your-form">Plan your form</a>
        </p>
        <p>
          <a href="/making-a-form/adapting-a-pdf-or-paper-form-to-a-digital-form">Adapting a PDF or paper form to a digital form</a>
        </p>
        <p>
          <a href="/making-a-form/take-payments">Take payments</a>
        </p>
       <h2>Mandatory tasks</h2>
          <p>
            <a href="/making-a-form/write-a-privacy-notice">Write a privacy notice</a>
          </p>
          <p>
            <a href="/making-a-form/agree-to-the-data-protection-terms-and-conditions">Agree to the data protection terms and conditions</a>
          </p>
          <p>
            <a href="/making-a-form/create-guidance-pages-on-govuk">Create guidance pages on GOV.UK</a>
          </p>
          <p>
            <a href="/making-a-form/have-an-alternative-contact-method">Have an alternative contact method</a>
          </p>
       <h2>Build, test and publish</h2>
          <p>
            <a href="/making-a-form/choose-the-right-format-for-your-questions">Choose the right format for your questions</a>
          </p>
          <p>
            <a href="/making-a-form/how-to-make-conditions">How to make conditions</a>
          </p>
          <p>
            <a href="/making-a-form/share-a-draft-with-others">Share a draft with others</a>
          </p>
          <p>
            <a href="/making-a-form/get-a-peer-review">Get a peer review</a>
          </p>
          <p>
            <a href="/making-a-form/submit-for-publication">Submit for publication</a>
          </p>
          <p>
            <a href="/making-a-form/retiring-a-pdf-or-paper-form">Retiring a PDF or paper form</a>
          </p>
</div>


      </div>
    </div>
</div>
</div>
{% endblock %}
