@use "../govuk-frontend" as *;

.app-field-group {
  margin-bottom: govuk-spacing(4);
  // Remove whitespace between inline-block elements
  font-size: 0;

  &__item {
    width: 100%;
  }

  &__label {
    display: block;
  }

  &__input {
    width: auto;
    margin-right: 0;
  }

  @include govuk-media-query($from: tablet) {
    &__item,
    &__label,
    &__input,
    &__button {
      display: inline-block;
      margin: 0;
    }

    &__item,
    &__label {
      margin-right: govuk-spacing(3);
    }

    &__item {
      width: auto;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }
    }

    &__input {
      width: auto;
    }
  }
}
