{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if params.sorting %}
<form method="get" action="/library" aria-label="Sorting options">
  {% if params.search.title %}
    <input type="hidden" name="title" value="{{ params.search.title | escape }}">
  {% endif %}
  {% if params.search.author %}
    <input type="hidden" name="author" value="{{ params.search.author | escape }}">
  {% endif %}
  {% if params.search.organisations and params.search.organisations | length %}
    {% for org in params.search.organisations %}
      <input type="hidden" name="organisations" value="{{ org | escape }}">
    {% endfor %}
  {% endif %}
  {% if params.search.status and params.search.status | length %}
    {% for state in params.search.status %}
      <input type="hidden" name="status" value="{{ state | escape }}">
    {% endfor %}
  {% endif %}

  <div class="app-field-group">
    <div class="app-field-group__item">
      {{ govukSelect({
        id: "sort-select",
        name: "sort",
        label: {
          text: "Sort by",
          classes: "app-field-group__label"
        },
        classes: "app-field-group__input",
        items: [
          {
            text: "Updated (newest)",
            value: "updatedDesc",
            selected: params.sorting.sortBy == "updatedAt" and params.sorting.order == "desc"
          },
          {
            text: "Updated (oldest)",
            value: "updatedAsc",
            selected: params.sorting.sortBy == "updatedAt" and params.sorting.order == "asc"
          },
          {
            text: "Form name (A to Z)",
            value: "titleAsc",
            selected: params.sorting.sortBy == "title" and params.sorting.order == "asc"
          },
          {
            text: "Form name (Z to A)",
            value: "titleDesc",
            selected: params.sorting.sortBy == "title" and params.sorting.order == "desc"
          }
        ]
      }) }}
    </div>
    <div class="app-field-group__item">
      {{ govukButton({
        text: "Sort forms",
        classes: "govuk-button--secondary app-field-group__button"
      }) }}
    </div>
  </div>
</form>
{% endif %}
