{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "service-header/macro.njk" import appServiceHeader %}

{{ appServiceHeader({
  serviceName: serviceName,
  navigationItems: navigation if isAuthenticated,
  accountName: authedUser.displayName if isAuthenticated,
  accountLink: "/forms-designer/login",
  signOutLink: "/forms-designer/logout",
  homepageLink: "/forms-designer"
}) }}
