{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "service-header/macro.njk" import appServiceHeader %}
{% from "tag-env/macro.njk" import appTagEnv %}

{%- set productName %}
  Forms Designer {{ appTagEnv({ env: config.cdpEnvironment }) }}
{% endset -%}

{%- set accountLinkUrl = "/auth/account" if (isAuthenticated and config.featureFlagUseEntitlementApi) else "/library" -%}

{%- set adminNavigation = [] -%}
{%- if isAuthenticated and isAdmin -%}
  {%- set adminNavigation = [
    {
      text: "Manage users",
      url: "/manage/users"
    }
  ] -%}
{%- endif -%}

{{ appServiceHeader({
  organisationName: "Defra",
  productName: productName | safe | trim,
  navigationItems: navigation if (isAuthenticated and (isFormsUser or isAdmin)),
  adminNavigation: adminNavigation if (isAuthenticated and isAdmin),
  accountName: authedUser.displayName if isAuthenticated,
  accountLink: accountLinkUrl,
  signOutLink: "/auth/sign-out",
  homepageLink: "/"
}) }}

{% if ["alpha", "beta"].includes(config.phase) %}
<div class="govuk-width-container app-width-container--wide">
  {{ govukPhaseBanner({
    tag: { text: config.phase | title },
    html: 'This is a new service – your <a class="govuk-link" href="/help/feedback">feedback</a> will help us to improve it.'
  }) }}
</div>
{% endif %}
