@use "../govuk-frontend" as *;
@use "../variables/colours" as *;

.flyout {
  max-width: none;
  width: 100vw;
  max-height: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  inset-block: unset;
  inset-inline: unset;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;

  &__button-close {
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 100;

    @include govuk-media-query($from: tablet) {
      right: 20px;
    }
  }

  &__container {
    width: 50%;
    height: 100%;
    overflow: auto;
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
    background-color: govuk-colour("white");

    &.large {
      width: 75%;
    }

    &.xlarge {
      width: 95%;
    }

    textarea {
      resize: vertical;
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.panel {
  position: relative;
  display: flex;
  max-height: 100%;
  flex-direction: column;

  &__header,
  &__body {
    padding: govuk-spacing(4);
  }

  &__header {
    padding-right: govuk-em(75px, $context-font-size: 16);
    padding-bottom: 0;
  }

  &__body {
    padding-top: 0;
    overflow-x: hidden;
  }

  &__results {
    margin: 0 govuk-spacing(4) * -1 govuk-spacing(4);
    padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(1);
    background-color: $app-light-grey;

    .govuk-button-group {
      margin-bottom: 0;
    }
  }
}
