@use "sass:map";
@use "../govuk-frontend" as *;

// Custom wide container
$app-container-width: map.get($govuk-breakpoints, "wide") - 60px;

.visualisation {
  position: relative;
  flex: 1;
  overflow-x: auto;

  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(9, "bottom");

  @include govuk-media-query($from: wide) {
    margin-left: (calc($app-container-width / 2) + govuk-spacing(6)) * -1;
    padding-left: 50%;
  }

  &__pages-wrapper {
    position: relative;
  }

  .page {
    position: absolute;
    left: 30px;
    width: 240px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: govuk-colour("white");
    border: 2px solid govuk-colour("black");

    // Hide during layout calculation
    visibility: hidden;

    // Show after layout calculation
    &[style] {
      visibility: visible;
    }

    &:focus-within {
      box-shadow: 0 0 0 6px $govuk-focus-colour;
    }

    &--repeat {
      box-shadow: 5px 10px rgba(govuk-colour("black"), 0.5);
    }

    &__heading {
      position: relative;
      @include govuk-responsive-padding(2);
      padding-bottom: 0;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      @include govuk-responsive-padding(3, "top");
    }

    &__actions .govuk-button {
      margin-bottom: 1px;

      &:last-child {
        margin-bottom: 0;
        box-shadow: none;
      }
    }
  }

  .line {
    width: 100%;
    height: 100%;
  }

  .line__condition {
    display: flex;

    height: 100%;
    padding: 0 govuk-spacing(6);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include govuk-font-size($size: 16);

    .govuk-tag {
      max-width: 75%;
      font-size: inherit;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  .line__polyline {
    fill: none;
    stroke-width: 4;
    stroke: govuk-colour("black");
    stroke-linecap: square;

    &:focus {
      outline: none;
    }

    &--active {
      cursor: pointer;

      &:hover,
      &:focus {
        outline: 6px solid $govuk-focus-colour;
      }
    }
  }
}
