{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: "Sign in to Defa Forms"
  }) }}

  {% call appPageBody() %}
    {{ govukButton({
      text: "Sign in",
      href: appPathPrefix + "/login",
      isStartButton: true
    }) }}
  {% endcall %}

{% endblock %}
