{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% if authedUser.displayName %}
  {{ appHeading({
    text: "Welcome, " + authedUser.displayName + "."
  }) }}
  {% else %}
  {{ appHeading({
    text: "Sign in to Defra Forms"
  }) }}

  {% call appPageBody() %}
    {{ govukButton({
      text: "Sign in",
      href: appPathPrefix + "/login",
      isStartButton: true
    }) }}
  {% endcall %}
  {% endif %}


  

{% endblock %}
