{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% if params.pagination and params.pagination.totalPages > 1 %}
  {% set queryParams = "" %}
  {% if params.search.title %}
    {% set queryParams = queryParams ~ "&title=" ~ (params.search.title | urlencode) %}
  {% endif %}
  {% if params.search.author is defined and params.search.author != "" %}
    {% set queryParams = queryParams ~ "&author=" ~ (params.search.author | urlencode) %}
  {% endif %}
  {% if params.search.organisations and params.search.organisations | length %}
    {% for org in params.search.organisations %}
      {% set queryParams = queryParams ~ "&organisations=" ~ (org | urlencode) %}
    {% endfor %}
  {% endif %}
  {% if params.search.status and params.search.status | length %}
    {% for state in params.search.status %}
      {% set queryParams = queryParams ~ "&status=" ~ (state | urlencode) %}
    {% endfor %}
  {% endif %}

  {% set previous = null %}
  {% if params.pagination.page > 1 %}
    {% set previousHref = (params.baseUrl | default('')) ~ "?page=" ~ (params.pagination.page - 1) ~ "&perPage=" ~ params.pagination.perPage ~ queryParams %}
    {% set previous = {
      href: previousHref,
      labelText: "Previous page",
      text: "Previous"
    } %}
  {% endif %}

  {% set next = null %}
  {% if params.pagination.page < params.pagination.totalPages %}
    {% set nextHref = (params.baseUrl | default('')) ~ "?page=" ~ (params.pagination.page + 1) ~ "&perPage=" ~ params.pagination.perPage ~ queryParams %}
    {% set next = {
      href: nextHref,
      labelText: "Next page",
      text: "Next"
    } %}
  {% endif %}

  {{ govukPagination({
    previous: previous,
    next: next,
    items: params.pagination.pages
  }) }}
{% endif %}
