{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<div id="radio-list">
{{ govukCheckboxes({
  fieldset: {
    legend: {
      text: 'Title',
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    },
    attributes: 'id="question-label-output"'
  },
  hint: {
    text: 'placeholder',
    attributes: 'id="hint-text-output"'
  },
  id: "text-input-field",
  name: "questionPreview",
  items: []
}) }}

</div>
