{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: 'Title',
    classes: "govuk-label--l",
    isPageHeading: true,
    attributes: 'id="question-label-output"'
  },
  hint: {
    text: '',
    attributes: 'id="hint-text-output"'
  },
  id: "text-input-field",
  name: "questionPreview"
}) }}
