{% from "feature-card/macro.njk" import featureCard %}

{% for section in features.formDesigner %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-top-4" id="{{ section.id }}">{{ section.title }}</h2>
    </div>
  </div>

  {% if section.description %}
    <p class="govuk-body-l">{{ section.description }}</p>
  {% endif %}

  <div class="govuk-grid-row">
    {% for card in section.items %}
      {{ featureCard(card, section.comingSoon) }}
    {% endfor %}
  </div>
{% endfor %}

