{% extends "layouts/forms-website.njk" %}
{% from "masthead/macro.njk" import appMasthead %}

{% block beforeContent %}
{{ appMasthead({
  heading: {
    text: "Features"
  }
}) }}
{% endblock -%}

{% block content %}
  <div>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="app-prose-scope">
            <p>
              Defra Forms makes it easy and cost effective to move traditional forms online, creating interactive GOV.UK services that are simple for customers to use and faster for Defra teams to manage.
            </p>
            <h2 class="govuk-heading-s">Form creation</h2>
            <p>
              A broad range of question types designed to meet government standards, including names, dates, addresses and reference numbers. There are also lists, multiple choice options, yes/no answers and guidance pages.
            </p>
            <h2 class="govuk-heading-s">Conditions</h2>
            <p>
              Defra Forms has a powerful conditions feature that means that users will only see the questions that are relevant to them. Conditions can be simple or advanced, and we provide guidance on how to get the most out of them.
            </p>
            <h2 class="govuk-heading-s">Locations and maps</h2>
            <p>
              Let users provide location information, such as grid references, easting and northing, postcodes or addresses. There is also a map feature which lets users add pins to a map, or draw shapes.
            </p>
            <h2 class="govuk-heading-s">File upload</h2>
            <p>
              Let users upload files in any format, up to 99.9mb in size.
            </p>
            <h2 class="govuk-heading-s">Payments</h2>
            <p>
              Defra Forms is integrated with GOV.UK Pay so your form can now take card payments, if your team is set up with a Worldpay account.
            </p>
            <h2 class="govuk-heading-s">Data integration</h2>
            <p>
              Receive form submissions in a way that suits your team and processing. Human and machine readable emails, Excel spreadsheet, or send directly to your systems with Defra Forms' API or Sharepoint list integration.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
