@use "../govuk-frontend" as *;

$defra-brand-colour: govuk-organisation-colour(department-for-environment-food-rural-affairs);

.pages-panel-left {
  &-standard,
  &-end,
  &-exit,
  &-thin-border,
  &-reorder {
    border-left: 10px solid;

    .govuk-summary-card__actions {
      white-space: nowrap;
      display: block;
    }
  }

  &-thin-border {
    border-left: 5px solid;
  }

  &-standard {
    border-left-color: $defra-brand-colour;

    &-hide-declaration .govuk-summary-card__content {
      display: none;
    }
  }

  &-thin-border {
    border-left-color: $defra-brand-colour;
  }

  &-end {
    border-left-color: govuk-colour("mid-grey");

    &-hide-declaration .govuk-summary-card__content {
      display: none;
    }
  }

  &-exit {
    border-left-color: govuk-shade(govuk-colour("pink"), 50%);

    &-hide-declaration .govuk-summary-card__content {
      display: none;
    }
  }
}

.reorder-button-hidden {
  visibility: hidden;
}

.app-reorderable-list__item:focus-within {
  border-top: 2px solid $govuk-focus-colour;
  border-right: 2px solid $govuk-focus-colour;
  border-bottom: 2px solid $govuk-focus-colour;
}
