@use "../govuk-frontend" as *;

$defra-brand-colour: govuk-organisation-colour(department-for-environment-food-rural-affairs);

.pages-panel-left {
  &-standard,
  &-end,
  &-reorder {
    border-left: 10px solid;
  }

  &-standard {
    border-left-color: $defra-brand-colour;
  }

  &-end {
    border-left-color: govuk-colour("mid-grey");

    &-hide-declaration .govuk-summary-card__content {
      display: none;
    }
  }
}
