{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitleText = "Page " + params.pageNum + ": " + params.pageTitle %}

{% set tagHtml %}
<div class="govuk-button-group govuk-!-margin-bottom-2 govuk-!-margin-right-2">
  <span class="govuk-tag govuk-tag--pink govuk-!-margin-right-2">Exit page</span>
  {% if params.sectionInfo %}
    <span class="govuk-tag govuk-tag--green govuk-!-margin-right-2">{{ params.sectionInfo.title }}</span>
  {% endif %}
</div>
<div class="govuk-summary-card__title govuk-!-margin-0">{{ pageTitleText }}</div>
{% endset %}

{% set cardClass = "pages-panel-left-standard" if params.rows | length > 0 else "pages-panel-left-standard pages-panel-left-standard-hide-declaration" %}
{% set cardTitle = { text: pageTitleText } %}

{% if params.sectionInfo and not params.isEndPage and not params.isExitPage %}
  {% set cardTitleHtml %}
    <div class="govuk-!-margin-bottom-2">
      <span class="govuk-tag govuk-tag--green">{{ params.sectionInfo.title }}</span>
    </div>
    {{ pageTitleText }}
  {% endset %}
  {% set cardTitle = { html: cardTitleHtml } %}
{% endif %}

{% if params.isEndPage %}
  {% set cardClass = "pages-panel-left-end" if params.rows | length else "pages-panel-left-end pages-panel-left-end-hide-declaration"%}
  {% set cardTitle = { text: params.pageTitle } %}
{% elif params.isExitPage %}
  {% set cardClass = "pages-panel-left-exit" if params.rows | length else "pages-panel-left-exit pages-panel-left-exit-hide-declaration"%}
  {% set cardTitle = { html: tagHtml } %}
{% endif %}

{% set visuallyHiddenText = "" if params.isEndPage else " page " + params.pageNum %}

{{ govukSummaryList({
  card: {
    title: cardTitle,
    actions: {
      items: [
        {
          href: params.pageEditUrl,
          text: "Edit",
          visuallyHiddenText: visuallyHiddenText,
          classes: 'govuk-link--no-visited-state'
        },
        {
          href: params.pagePreviewUrl,
          text: "Preview",
          visuallyHiddenText: visuallyHiddenText,
          attributes: 'target="_blank"',
          classes: 'govuk-link--no-visited-state'
        }
      ]
    },
    classes: cardClass
  },
  rows: params.rows
}) }}
