{% extends "layouts/page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    errorList: badRequestErrorList
  }) %}
    <p class="govuk-body">The service could not process your request.</p>
    <p class="govuk-body"><a href="mailto:defraforms@defra.gov.uk" class="govuk-link">Contact the Defra forms team</a> to report this error.</p>
  {% endcall %}
{% endblock %}
