{% extends "layouts/page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    errorList: badRequestErrorList
  }) %}
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If the web address is correct or you selected a link or button, <a href="mailto:defraforms@defra.gov.uk" class="govuk-link">contact the Defra forms team</a> if you believe you are seeing this message in error.</p>
  {% endcall %}
{% endblock %}
