{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading
  }) %}
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">If the problem continues, email the Defra forms team on <a href="mailto:defraforms@defra.gov.uk" class="govuk-link">defraforms@defra.gov.uk</a>.</p>
  {% endcall %}
{% endblock %}
