{% extends "layouts/page.njk" %}

{% set pageTitle = "Accessibility statement" %}

{% block content %}
  {% call appPageBody({
    heading: {
      text: pageTitle
    }
  }) %}
    <p class="govuk-body">
      Department for Environment, Food and Rural Affairs (Defra) is committed
      to making its websites accessible, in accordance with the Public Sector
      Bodies (Websites and Mobile Applications) (No. 2) Accessibility
      Regulations 2018.
    </p>

    <p class="govuk-body">
      This accessibility statement applies to
      <a
        rel="external"
        href="https://forms.defra.gov.uk"
        class="govuk-link">
        Defra Forms Designer
      </a>
      .
    </p>

    <h2 id="compliance-status" class="govuk-heading-l">Compliance status</h2>

    <p class="govuk-body">
      This platform is fully compliant with the Web Content Accessibility
      Guidelines (WCAG) version 2.2 AA standard.
    </p>

    <p class="govuk-body">
      View the DAC
      <a
        rel="external"
        href="https://digitalaccessibilitycentre.org/index.php/DEFRA_Forms-Designer/"
        class="govuk-link">
        accessibility certificate
      </a>
      .
    </p>

    <h2
      id="preparation-of-this-accessibility-statement"
      class="govuk-heading-l">
      Preparation of this accessibility statement
    </h2>

    <p class="govuk-body">
      This statement was prepared on 1 July 2026. It was last reviewed on 1
      July 2026.
    </p>

    <p class="govuk-body">This statement was prepared following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        We do regular accessibility and QA (quality assurance) testing on the
        service
      </li>
      <li>
        An audit of the site by
        <a
          rel="external"
          href="https://digitalaccessibilitycentre.org/"
          class="govuk-link">
          Digital Accessibility Centre
        </a>
        was completed on 1 July 2026
      </li>
    </ul>

    <h2 id="feedback-and-contact-information" class="govuk-heading-l">
      Feedback and contact information
    </h2>

    <p class="govuk-body">
      If you find any problems with Defra Forms Designer, or think we are not
      meeting accessibility requirements, email:
      <a href="mailto:defraforms@defra.gov.uk" class="govuk-link">
        defraforms@defra.gov.uk
      </a>
    </p>

    <h2 id="enforcement-procedure" class="govuk-heading-l">
      Enforcement procedure
    </h2>

    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for
      enforcing the Public Sector Bodies (Websites and Mobile Applications)
      (No. 2) Accessibility Regulations 2018 (the ‘accessibility
      regulations’).
    </p>

    <p class="govuk-body">
      If you’re not happy with how we respond to your complaint, contact the
      <a
        rel="external"
        href="https://www.equalityadvisoryservice.com/"
        class="govuk-link">
        Equality Advisory and Support Service
      </a>
      , which is run on behalf of EHRC.
    </p>
  {% endcall %}
{% endblock %}
