{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = "Give feedback" %}

{% block content %}
  {% call appPageBody({
    errorList: errorList,
    heading: {
      text: pageTitle
    }
  }) %}
    <form method="post" novalidate>
      {{ govukCharacterCount({
        name: "feedback",
        id: "feedback",
        maxlength: 500,
        label: {
          text: "How can we improve this service?",
          classes: "govuk-label--l"
        },
        hint: {
          text: "Do not include personal or financial information like your National Insurance number or credit card details."
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Send feedback"
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: "/",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  {% endcall %}
{% endblock %}
