{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% if isAuthenticated %}
    {{ appHeading({
      text: "Welcome, " + authedUser.displayName + "."
    }) }}

    {% call appPageBody() %}
      {{ govukButton({
        text: "Sign out",
        href: config.appPathPrefix + "/logout"
      })}}
    {% endcall %}
  {% else %}
    {% call appPageBody() %}
      {{ govukButton({
        text: "Sign in",
        href: config.appPathPrefix + "/login",
        isStartButton: true
      }) }}
    {% endcall %}
  {% endif %}
{% endblock %}