{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% if isAuthenticated %}
    {{ appHeading({
      text: "Welcome, " + authedUser.displayName + "."
    }) }}

    {% call appPageBody() %}
      {{ govukButton({
        text: "Sign out",
        href: "/logout"
      })}}
    {% endcall %}
  {% else %}
    {{ appHeading({
      text: "You have signed out"
    }) }}

    {% call appPageBody() %}
      <p class="govuk-body-l">Sign in to {{ config.serviceName }} to access and create forms.</p>

      {{ govukButton({
        text: "Continue",
        href: "/login"
      })}}
    {% endcall %}
  {% endif %}
{% endblock %}
