{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  <script>
  function copyToClip(blockId, link) {
    const blockForCopy = document.querySelector(`#${blockId}`)
    if (blockForCopy) {
      navigator.clipboard.writeText(blockForCopy.textContent).then(function() {
        link.textContent = '--------Copied--------'
        setTimeout(() => { link.textContent = 'Copy to clipboard' }, 1500)
      }, function() {
        link.textContent = 'Error copying'
        setTimeout(() => { link.textContent = 'Copy to clipboard' }, 1500)
      })
    }
    return false
  }
  </script>

  {% call appPageBody({
    heading: pageHeading,
    caption: caption,
    useNewMasthead: true,
    classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
    backLink: backLink
  }) %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% if errorList | length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList,
            classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-4"
          }) }}
        {% endif %}

        {% if notification | length %}
          {{ govukNotificationBanner(notification) }}
        {% endif %}
      </div>
    </div>

    <form class="form" method="post">

      <h2 class="govuk-heading-m">{{ queueName }}: {{ messages.length }} message{% if messages.length != 1 %}s{% endif %} {% if messages.length > 10 %}(showing first 10){% endif %}</h2>

      <div class="govuk-form-group">
        {% for message in messages %}
          {% set tileId = message.json.MessageId.replaceAll('-', '') %}
          <div class="json-item">
            <div class="action-links-top-right">
              <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-9" href="#" onclick="return copyToClip('json-{{ tileId }}', this)">Copy to clipboard</a>
              <a class="govuk-link govuk-link--no-visited-state" href='/admin/dead-letter-queues/{{ queueName}}/delete/{{ message.receiptHandle }}/{{ message.json.MessageId }}'>Delete</a>
            </div>
            <pre class="json-block" id="json-{{ tileId }}"><code>{{ message.json | dump(2) }}</code></pre>
          </div>
        {% endfor %}
      </div>

      {% if messages.length %}
        {{ govukButton({
          text: "Redrive all messages"
        }) }}
      {% endif %}
    </form>

  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
