{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "metrics-overview/macro.njk" import appMetricsOverview %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% set last7DaysHtml %}
  {{ appMetricsOverview(model.overviewMetrics.last7Days) }}
{% endset -%}

{% set last30DaysHtml %}
  {{ appMetricsOverview(model.overviewMetrics.last30Days) }}
{% endset -%}

{% set allTimeHtml %}
  {{ appMetricsOverview(model.overviewMetrics.allTime) }}
{% endset -%}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    caption: caption,
    useNewMasthead: true,
    classes: "govuk-grid-column-full",
    backLink: backLink
  }) %}

  <a href="/admin/form-metrics-download" class="govuk-link govuk-link--no-visited-state pull-right">Download</a>

  <div class="app-tab-container app-tab-container--title-only govuk-summary-list">
    <div class="editor-card-title">Form activity</div>
    <nav class="app-page-navigation" aria-label="Component usage">
      <div class="app-page-navigation__list">
        <div class="app-page-navigation__item">
          <a class="app-page-navigation__link" href="/admin/form-metrics/component-usage">
            Component usage
          </a>
        </div>
      </div>
    </nav>
  </div>

  {{ govukTabs({
    items: [
      {
        label: "Last 7 days",
        id: "last-7-days",
        panel: {
          html: last7DaysHtml
        }
      },
      {
        label: "Last 30 days",
        id: "last-30-days",
        panel: {
          html: last30DaysHtml
        }
      },
      {
        label: "All time",
        id: "all-time",
        panel: {
          html: allTimeHtml
        }
      }
    ]
  }) }}

{%- set filterOptionsHtml %}
  <button type="submit" name="action" value="clear" class="govuk-button govuk-button--secondary pull-right govuk-!-padding-top-2">Clear filters</button>

  {{ govukInput({
    id: "searchText",
    name: "searchText",
    label: {
      text: "Search for a form",
      classes: "govuk-label--m"
    },
    value: model.filter.searchText
  }) }}

  {{ govukCheckboxes({
    idPrefix: "status",
    name: "status",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Status",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: model.filter.statusList
  }) }}

  {{ govukCheckboxes({
    idPrefix: "org",
    name: "org",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Organisation",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: model.filter.organisationList
  }) }}
{% endset -%}

{% set showFilter = model.filter.showFilter === 'Y' %}

  <form method="post" action="#">
    <div class="moj-filter-layout">
      <div class="moj-filter-layout__filter" style="display: {{ 'block' if showFilter else 'none' }}">

        {{ mojFilter({
          heading: {
            text: "Filter"
          },

          submit: {
            attributes: {
                "data-test-id": "submit-button"
            }
          },

          optionsHtml: filterOptionsHtml
        }) }}

      </div>

      <div class="moj-filter-layout__content">

        <div class="moj-action-bar">
          <div class="moj-action-bar__filter">
            <button type="submit" name="showFilter" value="{{ 'N' if showFilter else 'Y' }}" class="govuk-button govuk-button--secondary moj-button--filter" data-module="govuk-button" aria-controls="moj-filter" aria-expanded="{{ 'true' if showFilter else 'false' }}" data-govuk-button-init="">{{ 'Hide' if showFilter else 'Show' }} filter</button>
          </div>
          <span class="govuk-heading-s pull-right">{{ model.formMetricRows.length }} row{{ 's' if model.formMetricRows.length !== 1 }}</span>
        </div>

        <table class="govuk-table moj-scrollable-pane" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="ascending">Form name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Organisation</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Pages</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Question types</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Conditions</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Sections</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Repub-lished</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Days to publish</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Features</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Submissions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for row in model.formMetricRows %}
            <tr class="govuk-table__row" style="display: table-row;">
              <th scope="row" class="govuk-table__header">
                <a href="/library/{{ row.slug }}" class="govuk-link govuk-link--no-visited-state">{{ row.formName }}</a>
              </th>
              <td class="govuk-table__cell">{{ row.organisation }}</td>
              <td class="govuk-table__cell">
                {% if row.status === 'live' %}
                  <strong class="govuk-tag govuk-tag--green">Live</strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--yellow">Draft</strong>
                {% endif %}
              </td>
              <td class="govuk-table__cell">{{ row.pages }}</td>
              <td class="govuk-table__cell">{{ row.questionTypes }}</td>
              <td class="govuk-table__cell">{{ row.conditions }}</td>
              <td class="govuk-table__cell">{{ row.sections }}</td>
              <td class="govuk-table__cell">{{ row.republished }}</td>
              <td class="govuk-table__cell">{{ row.daysToPublish }}</td>
              <td class="govuk-table__cell">{{ row.features }}</td>
              <td class="govuk-table__cell">{{ row.submissions }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </form>

  {% endcall %}
  {% endblock %}

  {% block mainEnd %}
    {{ super() }}
  {% endblock %}
