{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "admin/macros.njk" import appAdminTabs %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    useNewMasthead: true,
    classes: "govuk-grid-column-full",
    backLink: backLink
  }) %}

    {% call appAdminTabs(tabItems) %}
      {% if versionItems | length %}
        <form method="get" action="/admin/form-inspect/{{ formId }}/versions">
          {{ govukSelect({
            id: "versionId",
            name: "versionId",
            label: {
              text: "Select a version",
              classes: "govuk-label--m"
            },
            attributes: { "data-module": "govuk-accessible-autocomplete" },
            items: versionItems
          }) }}

          {{ govukButton({ text: "View version" }) }}
        </form>
      {% else %}
        {{ govukInsetText({ text: "No versions found for this form." }) }}
      {% endif %}
    {% endcall %}

  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
  <script type="module">
    import { enhanceSelects } from "{{ getAssetPath("accessible-autocomplete-enhance.js") }}"
    document.addEventListener("DOMContentLoaded", enhanceSelects)
  </script>
{% endblock %}
