{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% set feedbackButtonHtml %}
  {{ govukButton({
    text: "Send feedback data",
    name: "action",
    value: "feedback",
    classes: "govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-0",
    preventDoubleClick: true
  }) }}
{% endset %}

{% set downloadButtonHtml %}
  {{ govukButton({
    text: "Download forms backup data",
    name: "action",
    value: "download",
    classes: "govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-0",
    preventDoubleClick: true
  }) }}
{% endset %}

{% set rows = [] %}

{% if supports.feedback %}
  {% set rows = (rows.push([
    { text: "User feedback across all forms" },
    { text: "9 months after submission" },
    { html: feedbackButtonHtml }
  ]), rows) %}
{% endif %}

{% if supports.download %}
  {% set rows = (rows.push([
    { text: "Forms backup" },
    { text: "On demand download" },
    { html: downloadButtonHtml }
  ]), rows) %}
{% endif %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    caption: caption,
    useNewMasthead: true,
    classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
    backLink: backLink
  }) %}

    {% if errorList | length %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList,
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-4"
      }) }}
    {% endif %}

    {% if notification | length %}
      {{ govukNotificationBanner({
          type: "success",
          html: notification
        }) }}
    {% endif %}

    <h2 class="govuk-heading-m">Data management</h2>
    <p class="govuk-body">Manage and export user data according to retention policies.</p>

    <form class="form" method="post">

      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          { text: "Type of data" },
          { text: "How long we keep it" },
          { text: "Send to your email" }
        ],
        rows: rows
        })
      }}
    </form>

    {% if supports.resetSaveAndExit %}
      <p class="govuk-body">
        <a href="/admin/reset-save-and-exit" class="govuk-link govuk-link--no-visited-state">Reset save and exit</a>
      </p>
    {% endif %}
  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
