<div class="app-breadcrumbs">
  <ol class="app-breadcrumbs__list">
    {% for item in params.items %}
      {% if item.href %}
        <li class="app-breadcrumbs__list-item">
          <a class="app-breadcrumbs__link" href="{{ item.href }}">{{ item.text }}</a>
        </li>
      {% else %}
        <li class="app-breadcrumbs__list-item app-breadcrumbs__list-item--current" aria-current="page">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
