{% extends "layouts/forms-website.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "x-govuk/components/masthead/macro.njk" import xGovukMasthead %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% block beforeContent %}
<div class="x-govuk-masthead x-govuk-masthead--inverse">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="x-govuk-masthead__title">
          Create and publish Defra forms on GOV.UK
        </h1>
        <p class="x-govuk-masthead__description">
          Make it easier for the public to submit information to Defra.
        </p>
        {{ govukButton({
        text: "Sign in",
        classes: 'govuk-button--inverse',
        href: "/library",
        isStartButton: true
        })}}
      </div>
      <div class="govuk-grid-column-one-third-from-desktop">

        <div class="govuk-card govuk-card--feature govuk-!-margin-top-6" style="background-color:transparent; border: 1px solid #EFF6F3; margin: 0; padding: 0; min-height: fit-content; max-height: fit-content">
          <div class="govuk-card__content" style="padding: 20px;">

            <h2 class="govuk-card__heading govuk-heading-m" style="margin-top: 0; ">
              <a href="/titan-mvp-1.2/product-pages/release-notes" class="govuk-link govuk-link--no-visited-state govuk-link--inverse" style="color: white !important;">What's
                new</a>
            </h2>
            <div class="govuk-!-text-align-left govuk-!-margin-bottom-2">
              <time class="govuk-body-s" datetime="2025-06-14T14:01:00.000Z" style="color: white!important;">14 June 2025</time>
            </div>

            <p class="govuk-body" style="color: white!important;">
              New conditions and accessibility improvements and updates to preview panel functionality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set coreFeatures %}
        {%- include "website/home/core-features.njk" -%}
      {% endset -%}
      {% set userExperience %}
        {%- include "website/home/user-experience.njk" -%}
      {% endset -%}
      {% set advancedPatterns %}
        {%- include "website/home/advanced-patterns.njk" -%}
      {% endset -%}
      {% set developerToolkit %}
        {%- include "website/home/developer-toolkit.njk" -%}
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Core features",
            id: "core-features",
            panel: {
              html: coreFeatures
            }
          },
          {
            label: "User experience",
            id: "user-experience",
            panel: {
              html: userExperience
            }
          },
          {
            label: "Advanced patterns",
            id: "advanced-patterns",
            panel: {
              html: advancedPatterns
            }
          },
          {
            label: "Developer-toolkit",
            id: "developer-toolkit",
            panel: {
              html: developerToolkit
            }
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Who's using Defra Forms</h2>
        </div>
        <div class="govuk-grid-column-full organisations-grid">
          <div class="content-section__image organisations-grid__logo">
            <div class="defra-logo">
              <div class="defra-logo-border--container defra-logo-border-color defra-logo-crest">
                <span>Department<br>for Environment,<br>Food &amp;
                    Rural
                    Affairs</span>
              </div>
            </div>
          </div>
          <div class="content-section__image organisations-grid__logo">
            <div class="defra-logo">
              <div class="defra-logo-border--container defra-logo-border-color defra-logo-crest">
                <span>Rural<br>Payments<br>Agency</span>
              </div>
            </div>
          </div>
          <div class="content-section__image organisations-grid__logo">
            <div class="defra-logo">
              <div class="defra-logo-border--container defra-logo-border-color defra-logo-crest">
                  <span>Animal &amp;<br>Plant
                      Health<br>Agency</span>
              </div>
            </div>
          </div>
          <img src="/assets/images/food-standards-agency.svg" alt="Food Standards Agency – FSA" class="content-section__image organisations-grid__logo">
          <img src="/assets/images/environment-agency.svg" alt="Environment Agency – EA" class="content-section__image organisations-grid__logo">
          <img src="/assets/images/natural-england.svg" alt="Natural England" class="content-section__image organisations-grid__logo">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
