{% extends "layouts/forms-website.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "masthead/macro.njk" import appMasthead %}

{% block beforeContent %}
{% set mastheadBtn %}
{{ govukButton({
  text: "Sign in",
  classes: 'govuk-button--inverse',
  href: "/library",
  isStartButton: true
})}}
{% endset -%}

{% call appMasthead({
  heading: {
    text: "Create and publish Defra forms on GOV.UK"
  },
  description: {
    text: "Make it easier for the public to submit information to Defra."
  },
  html: mastheadBtn
}) %}

{%- endcall %}

{% endblock %}
{% block content %}
<div>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-prose-scope">
        <h2>Publish forms on GOV.UK with no coding skills</h2>
          <p>
            Defra Form Designer allows teams to create and publish forms using the GOV.UK design system, with no coding knowledge. 
            <ul>
              <li>Ideal for content designers and interaction designers with experience of form design</li>
              <li>Receive submissions in a variety of formats - human or machine readable emails, CSV, spreadsheet or via API</li>
              <li>Get peer review from our team of form design specialists</li>
            </ul>
          </p>
          <h2>Accelerate your digital services with the Developer Plugin</h2>
          <p>
            Defra Forms provides a Developer Plugin to quickly implement a GOV.UK frontend to your digital service. 
            <ul>
              <li>Integrate forms directly into your existing applications with minimal setup and configuration</li>
              <li>Built with developers in mind, featuring comprehensive APIs for form creation, management, and data retrieval</li>
              <li>Full control over form appearance and styling to match your application's design system</li>
            </ul>
          </p>
          <p>
            Learn more about the <a href="https://defra.github.io/forms-engine-plugin/">Developer Plugin</a>.
          </p>
          <h2>Get access to Defra Forms</h2>
          <p>
            If you would like to start using Defra Form Designer, Developer Plugin, or need form design support, <a href="mailto:defraforms@defra.gov.uk">contact the Defra Forms team</a>.
          </p>
          
</div>
      </div>
    </div>
</div>
</div>
{% endblock %}
