$govuk-assets-path: "/assets/";

@import "govuk-frontend/govuk/base";

.visualisation {
  position: relative;
  flex: 1;

  &__pages-wrapper {
    position: relative;
  }

  .page {
    position: absolute;
    width: 240px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
    border-left: solid 2px #000;

    &--selected,
    &:hover {
      box-shadow: 0 0 0 6px govuk-colour("yellow");
    }

    &__heading {
      position: relative;
      min-height: 2.8em;
      @include govuk-responsive-padding(2);

      h3 {
        display: block;
        margin-top: 0;
        @include govuk-responsive-margin(4, "bottom");
        @include govuk-font($size: 19, $weight: bold);
        @include govuk-text-colour;
      }

      span {
        display: block;
        color: $govuk-secondary-text-colour;
        @include govuk-font($size: 14);
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;

      button {
        border: none;
        box-shadow: none;
        text-align: left;
      }

      .govuk-link {
        @include govuk-responsive-padding(1, "top");
        @include govuk-responsive-padding(2, "right");
        @include govuk-responsive-padding(1, "bottom");
        @include govuk-responsive-padding(2, "left");
        @include govuk-font($size: 14);
        text-decoration: none;
        background-color: govuk-colour("black");
        color: govuk-colour("white");

        &:hover,
        &:focus {
          background-color: govuk-colour("yellow");
          color: govuk-colour("black");
          cursor: pointer;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #ffffff;
        }
      }
    }

    h3.govuk-heading-s {
      margin-bottom: 0;
    }
  }
}
