$govuk-assets-path: "/assets/";

@import "govuk-frontend/dist/govuk/base";

.visualisation {
  position: relative;
  flex: 1;

  &__pages-wrapper {
    position: relative;
  }

  .page {
    position: absolute;
    width: 240px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: govuk-colour("white");
    border: 2px solid govuk-colour("black");

    &--selected,
    &:hover,
    &:focus-within {
      box-shadow: 0 0 0 6px $govuk-focus-colour;
    }

    &__heading {
      position: relative;
      min-height: 2.8em;
      @include govuk-responsive-padding(2);
    }

    &__actions {
      display: flex;
      flex-direction: column;

      button.govuk-link {
        border: none;
        box-shadow: none;
        text-align: left;
      }

      .govuk-link {
        @include govuk-responsive-padding(2);
        text-decoration: none;
        background-color: govuk-colour("black");
        color: govuk-colour("white");

        &:hover,
        &:focus {
          background-color: govuk-colour("yellow");
          color: govuk-colour("black");
          cursor: pointer;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
}
