{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
<div class="app-prose-scope">

  <p class="govuk-body">Check if the form you need to publish can be created and maintained using the Defra
    Form Designer.
  </p>

  <h2 id="design-simple-form" class="govuk-heading-l">Design a simple form with a single purpose</h2>
  <p class="govuk-body">An online form that tries to achieve multiple outcomes (for example, registering for a
    scheme and also claiming for a payment through that scheme) can be confusing to users and difficult for
    policy teams to maintain. Focus on a single outcome and design a form that is easy to complete and
    process.
  </p>

  <h2 id="design-structured-questions" class="govuk-heading-l">Design a form with several questions to help
    with processing the responses</h2>
  <p class="govuk-body">Forms that ask for long written answers are not recommended as team members would
    still
    need to read and process the detail. Forms can be designed to give structured data. This means, for
    example,
    picking answers from lists rather than asking users to type the information in. This can reduce the
    amount
    of thinking the user has to do and the time that your team has to spend reading and interpreting the
    data.
  </p>
  <p class="govuk-body">For questions which require written descriptions or explanations, make the questions
    specific, so users know what information to include.</p>

  <h2 id="design-uncomplicated-form" class="govuk-heading-l">Design a form that's not unnecessarily
    complicated</h2>
  <p class="govuk-body">In a simple form, all users may need to answer all the questions. Sometimes, users
    only
    need to answer certain questions based on their situation and how they've answered previous questions
    (known
    as conditional questions). For example, if a form asks a farmer what species of animal they keep, they
    will
    then only see questions about the animals they specify.</p>
  <p class="govuk-body">You can make both simple and more complex forms using the Defra Form Designer.
    However,
    the Defra Forms team recommends including as few conditional questions as possible, as changing them can
    become difficult (for example, if part of a policy changes). So, do not make a form more complicated
    than it
    needs to be to meet the users' needs.</p>

  <h2 id="design-single-user-form" class="govuk-heading-l">Design a form that can be completed and submitted
    by a single user</h2>
  <p class="govuk-body">The forms designer cannot be used to create forms that require more than one user to
    complete different parts. Consider designing two separate forms and speaking to the Defra Forms team
    about
    how to link them.</p>

  <h2 id="design-single-sitting-form" class="govuk-heading-l">Design forms to be completed in a single sitting
  </h2>
  <p class="govuk-body">When a user starts to complete a form, it will stay active as long as they return to
    it
    within 24 hours. If a user closes their browser within that time, the form progress can be lost. The
    Defra
    Forms team therefore does not recommend designing forms that will take a long time to complete, for
    example
    if the user needs to gather lots of information to answer questions and submit information.</p>

  <h2 id="design-critical-information-form" class="govuk-heading-l">Design forms that will gather the critical
    information that's needed from the user
    quickly</h2>
  <p class="govuk-body">The Defra Form Designer functions like a postbox. Once a user has submitted a form,
    they
    cannot retrieve it later to amend it or add more detail to their answers.</p>
  <p class="govuk-body">If a form is part of a multi-stage process, and you may need further information from
    the
    user after the initial form has been completed and submitted, make sure your form:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>collects enough information for a team member to process the first stage</li>
    <li>includes a question in the form that asks the user for their contact details</li>
  </ul>

  <h2 id="design-independent-form" class="govuk-heading-l">Design forms that do not rely on data from Defra
    systems</h2>
  <p class="govuk-body">Forms created with the Defra Form Designer cannot request data from a Defra system,
    for
    example, to find a user's existing details. Make sure you design forms that ask for all the data that's
    needed in order to process and action it.</p>

  <h2 id="form-responses-processed-individually" class="govuk-heading-l">Form responses are processed
    individually</h2>
  <p class="govuk-body">When forms are submitted the responses go to a dedicated email inbox. If you expect
    high
    volumes of submissions, make sure you have enough capacity on your processing team to handle individual
    submissions. There is not a way to aggregate submissions into, for example, a spreadsheet.</p>
</div>

{% endblock %}
