{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
<p class="govuk-body-l">If you'd like to be considered as a private beta user and you work in a UCD
  profession,
  <a href="/support" class="govuk-link">contact us</a> and we'll add you to
  our
  waiting list.
</p>
{% endblock %}
