{% extends "website/left-nav-layout.njk" %}

{% block textPanel %}
<div class="app-prose-scope">

  <p class="govuk-body">If you have access to the Defra Form Designer, follow the steps in this checklist to
    create a form and make it live.</p>

  <a href="#checklist" class="govuk-skip-link">Skip to checklist</a>

  <h2 id="checklist" class="govuk-visually-hidden">Checklist</h2>

  <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large" aria-labelledby="checklist">
    <ol class="app-step-nav__steps">
      <li class="app-step-nav__step" id="step-1">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                    1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Forms criteria</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">Review the forms criteria to find out if your
            form is suitable for the Defra Form Designer.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-2">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Success measures</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">You should agree the success measures for your
            form with the Defra Forms team. This includes what you will measure and collecting data
            to compare it to.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-3">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Agree timescales</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">You should agree timescales with the Defra
            Forms team. This will ensure capacity when your form is ready for review. It can take
            from 2 to 8 weeks to design, build and review a form.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-4">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Wireframe</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">You should create a plan or wireframe version
            of your form for review by the Defra Forms team. This will ensure the structure of your
            form meets the GOV.UK service standards. For example, by placing eligibility questions
            at the start of the form.</p>
          <p class="app-step-nav__paragraph govuk-body">You can use tools such as Mural, Microsoft
            Visio or Microsoft Word to create the wireframe.</p>
          <p class="app-step-nav__paragraph govuk-body">Follow the guidance on how to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/titan-mvp-1.2/product-pages/resources">design a
              form</a></li>
            <li><a class="govuk-link" href="/titan-mvp-1.2/product-pages/resources/form-pages-on-govuk">structure a
              form</a></li>
          </ul>
          <p class="app-step-nav__paragraph govuk-body">When your wireframe is ready for reviewing,
            send it by email to: <a href="mailto:defraforms@defra.gov.uk" class="govuk-link">defraforms@defra.gov.uk</a>
          </p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-5">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
          <span class="js-step-title">Build your form using the Defra Form Designer</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">When the Defra Forms team has reviewed your
            wireframe, you should use the Defra Form Designer to build your first draft.</p>
          <p class="app-step-nav__paragraph govuk-body">You can also contact the Defra Forms team for
            support by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>email: <a href="mailto:defraforms@defra.gov.uk" class="govuk-link">defraforms@defra.gov.uk</a></li>
            <li>sending a message to the Defra Forms Microsoft Teams support channel</li>
            <li>sending a message to the Defra Forms Slack support channel</li>
          </ul>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-6">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Review of your form by the Defra Forms team</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">Once you've built your first draft, send a
            form preview link by email to the Defra Forms team for review: <a href="mailto:defraforms@defra.gov.uk"
                                                                              class="govuk-link">defraforms@defra.gov.uk</a>.
            A content designer will review your
            form and provide feedback about the structure, guidance and questions within the form.
          </p>
          <p class="app-step-nav__paragraph govuk-body">You should make the recommendations to the
            form and return the draft to the Defra Forms team for a second review.</p>
          <p class="app-step-nav__paragraph govuk-body">The Defra Forms team may also recommend
            arranging a meeting to discuss the draft in more detail.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-7">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                        7<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                </span>
            </span>
            <span class="js-step-title">Set up a mailbox to receive form submissions</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">Form submissions must be sent to a shared
            government mailbox – you cannot send submissions to an individual work email address.
            This ensures there isn't a single point of failure.</p>
          <p class="app-step-nav__paragraph govuk-body">If you do not already have a shared mailbox
            for your team, use <a
              href="https://defragroup.service-now.com/esc?id=sc_cat_item&amp;table=sc_cat_item&amp;sys_id=9e67d1c51bcf0a50848b8594e34bcb7a&amp;searchTerm=mailbox"
              class="govuk-link">MyIT service</a> to request a new mailbox.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-8">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number ">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  8<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Data protection impact assessment</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">You must contact your local Data Protection
            team to fill in their data protection impact assessment screening questions. Your
            answers to the questions will determine if a full data impact assessment is required.
            See the <a
              href="https://defra.sharepoint.com/sites/Defraintranet/SitePages/Data-Protection-Impact-Assessment.aspx"
              class="govuk-link">DPIA intranet</a> for guidance.
          </p>
          <p class="app-step-nav__paragraph govuk-body">View the:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://defra.sharepoint.com/sites/Defraintranet/SitePages/data-protection.aspx" class="govuk-link">Defra and Animal and Plant Health Agency (APHA) screening
              questions</a></li>
            <li><a
              href="https://defra.sharepoint.com/sites/Community2514/SitePages/Data-protection-policies-and-guidance.aspx"
              class="govuk-link">Environment Agency screening questions</a></li>
          </ul>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-9">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  9<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Privacy notice</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">You must provide an online link to a relevant
            privacy notice for your form – you cannot publish your form without it. You may be able
            to use an existing privacy notice on GOV.UK for a related form. If there isn't an
            existing privacy notice, you should work with your Data Protection team to create one.
          </p>
          <p class="app-step-nav__paragraph govuk-body">View the:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a
              href="https://defra.sharepoint.com/sites/Defraintranet/SitePages/Privacy-notice-templates-(collecting-personal-data).aspx"
              class="govuk-link">Defra and Animal and Plant Health Agency (APHA) privacy
              notice templates</a></li>
            <li><a
              href="https://defra.sharepoint.com/:f:/r/sites/Community2514/Data_protection/Privacy%20notices?csf=1&amp;web=1&amp;e=kQxyXY"
              class="govuk-link">Environment Agency privacy notice templates</a></li>
          </ul>
          <p class="app-step-nav__paragraph govuk-body">The Defra Forms team can arrange to publish a
            new privacy notice onto GOV.UK.</p>
          <p class="app-step-nav__paragraph govuk-body">Find out more about <a
            href="https://defra.sharepoint.com/sites/Community3062/SitePages/Data-Protection.aspx" class="govuk-link">data
            protection at APHA</a>.
          </p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-10">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  10<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">How users will find your form</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">If your form is going to be available for
            users to find on GOV.UK, it must be linked from a guidance page. These are also known as
            a 'start page'. The Defra Forms team can design a start page for your form.</p>
          <p class="app-step-nav__paragraph govuk-body">If your form is part of a larger piece of
            guidance, the Defra Forms team will coordinate with the Business as Usual (BaU) Content
            team. This will make sure the guidance in the form and GOV.UK guidance page is
            consistent.</p>
          <p class="app-step-nav__paragraph govuk-body">You should let the Defra Forms team know if
            you're already working with a content designer from the BaU Content team.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-11">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  11<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Make the form live</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">When your form is ready to publish, the Defra
            Forms team will arrange to make it live on a date of your choosing. Do not publish the
            form yourself.</p>
          <p class="app-step-nav__paragraph govuk-body">The Defra Forms team will coordinate with the
            BaU Content team to publish any related guidance or privacy notices.</p>
        </div>
      </li>

      <li class="app-step-nav__step" id="step-12">
        <div class="app-step-nav__header govuk-!-padding-bottom-4 govuk-!-padding-top-2">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                  12<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                </span>
              </span>
            </span>
            <span class="js-step-title">Support</span>
          </h2>
        </div>
        <div class="app-step-nav__panel">
          <p class="app-step-nav__paragraph govuk-body">Once your form is live, you should continue to
            support it.</p>
          <p class="app-step-nav__paragraph govuk-body">Read the <a
            href="https://defra.sharepoint.com/sites/def-contentcloud/_layouts/15/DocIdRedir.aspx?ID=CONTENTCLOUD-190616497-7873"
            class="govuk-link">Defra Forms roadmap</a> to find out if an
            upcoming feature could enhance your form.</p>
        </div>
      </li>
    </ol>
  </div>

</div>
{% endblock %}
