{%- include "website/sub-navigation.njk" -%}

<div class="app-prose-scope">

  <p class="govuk-body">A pre-requisite to using the Defra Form Designer and working with the Defra Forms team
    is
    to confirm how you will measure the success of the forms you create.</p>

  <h2 id="confirm-what-to-measure" class="govuk-heading-l">Confirm what you will measure</h2>
  <p class="govuk-body">Examples include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>reduction in failure demand rate (the need to contact users if the information they've provided was
      either missing or not detailed enough)
    </li>
    <li>reduction of 'other touch points' (prevent or reduce the need for a user seek support from other
      channels when filling in a form)
    </li>
    <li>reduction in processing times</li>
  </ul>
  <p class="govuk-body">If you're replacing an existing paper-based form with a new digital form, you must
    report
    on how you'll reduce failure demand rate.</p>
  <p class="govuk-body">A member of the Defra Forms team will contact you to agree:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the success measures that will work best for your form</li>
    <li>the monitoring period, for example, 3, 6 or 12 months</li>
  </ul>
  <p class="govuk-body">The Defra Forms team will keep a copy of the agreed success measures.</p>

  <h2 id="data-comparison" class="govuk-heading-l">Data comparison</h2>
  <p class="govuk-body">You'll need to collect data before and after you make your form live.</p>

  <h2 id="before-form-live" class="govuk-heading-l">Before your form is live</h2>
  <p class="govuk-body">For your chosen success measures, you must either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have data available</li>
    <li>start to capture data to confirm whether the introduction of a digital form has had the desired
      outcome
    </li>
  </ul>
  <p class="govuk-body">You will be responsible for measuring and keeping a record of the performance of your
    form. We recommend having at least 3 months of data.</p>
  <p class="govuk-body">This is an important step as we need historical data to prove the form has been
    successful
    for your specific measures.</p>

  <h2 id="after-form-live" class="govuk-heading-l">After your form is live</h2>
  <p class="govuk-body">You will need to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>capture progress and stats relating to your success measures</li>
    <li>report back to the Defra Forms team after your agreed monitoring period</li>
  </ul>


  <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">


    <div class="govuk-pagination__prev">
      <a class="govuk-link govuk-pagination__link" href="/titan-mvp-1.2/product-pages/get-started/form-suitability-criteria" rel="prev">

        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path
            d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>

        <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>

        <span class="govuk-visually-hidden">:</span>
        <span class="govuk-pagination__link-label">Form suitability criteria</span>


      </a>
    </div>

  </nav>


</div>
