{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  <div class="govuk-width-container app-width-container--wide">
    {{ govukBackLink(backLink) }}
  </div>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      heading: {
        text: pageTitle,
        caption: form.title,
        size: "large"
      },
      errorList: errorList
    }) %}
      {{ govukInput({
        label: {
          text: fields.address.label.text,
          isPageHeading: false
        },
        id: fields.address.id,
        name: fields.address.name,
        value: fields.address.value,
        hint: fields.address.hint,
        errorMessage: {
          text: formErrors[fields.address.name].text
        } if formErrors[fields.address.name]
      }) }}

      {{ govukInput({
        label: {
          text: fields.responseTime.label.text,
          isPageHeading: false
        },
        id: fields.responseTime.id,
        name: fields.responseTime.name,
        value: fields.responseTime.value,
        hint: fields.responseTime.hint,
        errorMessage: {
          text: formErrors[fields.responseTime.name].text
        } if formErrors[fields.responseTime.name]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: buttonText
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: backLink.href,
          classes: "govuk-button--secondary"
        }) }}

        {% if allowDelete %}
          {{ govukButton({
            text: "Delete",
            classes: "govuk-button--warning",
            name: "_delete",
            value: "true"
          }) }}
        {% endif %}
      </div>
    </form>
  {% endcall %}
{% endblock %}
