{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  <div class="govuk-width-container app-width-container--wide">
    {{ govukBackLink(backLink) }}
  </div>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      heading: {
        text: pageTitle,
        caption: form.title,
        size: "large"
      },
      errorList: errorList
    }) %}
      {{ govukInput({
        label: {
          text: fields.url.label.text,
          isPageHeading: false
        },
        id: fields.url.id,
        name: fields.url.name,
        value: fields.url.value,
        hint: fields.url.hint,
        errorMessage: {
          text: formErrors[fields.url.name].text
        } if formErrors[fields.url.name]
      }) }}

      {{ govukInput({
        label: {
          text: fields.text.label.text,
          isPageHeading: false
        },
        id: fields.text.id,
        name: fields.text.name,
        value: fields.text.value,
        hint: fields.text.hint,
        errorMessage: {
          text: formErrors[fields.text.name].text
        } if formErrors[fields.text.name]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: buttonText
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: backLink.href,
          classes: "govuk-button--secondary"
        }) }}

        {% if allowDelete %}
          {{ govukButton({
            text: "Delete",
            classes: "govuk-button--warning",
            name: "_delete",
            value: "true"
          }) }}
        {% endif %}
      </div>
    </form>
  {% endcall %}
{% endblock %}
