{% extends "forms/question-textarea.njk" %}

{% set bodyStart %}
  <p class="govuk-body">You can provide an optional phone number for support. You must include the opening times.</p>
  <h2 class="govuk-heading-s">Example</h2>
  <div class="govuk-inset-text">
    <ul class="govuk-list">
      <li>Telephone: 020 7946 0101</li>
      <li>Monday to Friday, 8am to 6pm</li>
    </ul>
  </div>
{% endset %}

{% set bodyEnd %}
  {% include "forms/partials/markdown-guidance.njk" %}
{% endset %}
