{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set formStatus %}
  {{ govukTag({ text: "Draft", classes: "govuk-tag--orange" }) }}
{% endset %}

{% set formUpdated %}
  {{ form.draft.updatedAt | formatDate }} by {{ form.draft.updatedBy.displayName | escape }}
{% endset %}

{% set formCreated %}
  {{ form.draft.createdAt | formatDate }} by {{ form.draft.createdBy.displayName | escape }}
{% endset %}

{% set formPreviewLink %}
  {% set linkHref = helpers.buildPreviewUrl(form.slug, "draft") %}
  <a href="{{ linkHref }}" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">
    {{ linkHref }} (opens in a new tab)
  </a>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Status"
      },
      value: {
        html: formStatus
      }
    },
    {
      key: {
        text: "Updated"
      },
      value: {
        text: formUpdated
      }
    },
    {
      key: {
        text: "Created"
      },
      value: {
        text: formCreated
      }
    },
    {
      key: {
        text: "Preview link"
      },
      value: {
        text: formPreviewLink | safe
      }
    }
  ]
}) }}
