{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set formStatus %}
  {{ govukTag({ text: "Live", classes: "govuk-tag--green" }) }}
{% endset %}

{% set formCreated %}
  {{ form.live.createdAt | formatDate }} by {{ form.live.createdBy.displayName | escape }}
{% endset %}

{% set formUpdated %}
  {{ form.live.updatedAt | formatDate }} by {{ form.live.updatedBy.displayName | escape }}
{% endset %}

{% set formPreviewLink %}
  {% set linkHref = helpers.buildPreviewUrl(form.slug, "live") %}
  <a href="{{ linkHref }}" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">
    {{ linkHref }} (opens in a new tab)
  </a>
{% endset %}

{% set formLink %}
  {% set linkHref = previewUrl + "/" + form.slug | urlencode %}
  <a href="{{ linkHref }}" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener">
    {{ linkHref }} (opens in a new tab)
  </a>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Status"
      },
      value: {
        html: formStatus
      }
    },
    {
      key: {
        text: "Made live"
      },
      value: {
        text: formCreated
      }
    },
    {
      key: {
        text: "Last updated"
      },
      value: {
        text: formUpdated
      }
    },
    {
      key: {
        text: "Preview link"
      },
      value: {
        text: formPreviewLink | safe
      }
    },
    {
      key: {
        text: "Live link"
      },
      value: {
        text: formLink | safe
      }
    }
  ]
}) }}
