{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "select-with-opt-group/macro.njk" import appSelectWithOptGroup %}
{% from "icon-button/macro.njk" import appIconButton %}

<form class="form" method="post">
  {% for condition in params.conditionFieldsList %}
    {% call govukFieldset({
      legend: {
        text: params.legendText,
        classes: "govuk-fieldset__legend--s",
        isPageHeading: false
      }
    }) %}
      <input type="hidden" id="id" name="{{ condition.idField.name }}" value="{{ condition.idField.value }}" />
      {{ appSelectWithOptGroup(condition) }}
        {% if condition.operator %}
          {{ govukSelect(condition.operator) }}
        {% endif %}
        {% if condition.value %}
          {{ govukRadios(condition.value) }}
        {% endif %}
    {% endcall %}
  {% endfor %}

  <div class="form-group">
    {{ appIconButton({
      label: "Add another condition",
      id: 'addCondition',
      icon: 'plus',
      type: 'button',
      name: 'addCondition',
      value: true
    }) }}
  </div>

  {{ govukInput(params.displayNameField) }}

  {{ govukButton({
    text: 'Save and continue'
  }) }}
</form>
