{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set cardClass = "page-panel-left-standard" %}
{% if params.isEndPage %}
{% set cardClass = "page-panel-left-end" %}
{% endif %}

{% set questionRows = [] %}
{% for question in params.rows %}
  {% set mappedQuestion = {
    key: {
      text: "Question " + loop.index
    },
    value: {
      text: question.title
    }
  } %}
  {% set questionRows = (questionRows.push(mappedQuestion), questionRows) %}
{% endfor %}

{% set cardTitle = "Page " + params.pageNum + ": " + params.pageTitle %}

{% if params.isEndPage %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">End pages</h2>
{% set cardTitle = "Check your answers" %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: cardTitle
    },
    actions: {
      items: [
        {
          href: "/library/" + params.formName + "/editor-v2/page/" + params.pageId + "/questions",
          text: "Edit",
          visuallyHiddenText: " page " + params.pageNum
        },
        {
          href: "/library/" + params.formName + "/editor-v2/page/" + params.pageId + "/preview",
          text: "Preview",
          visuallyHiddenText: " page " + params.pageNum
        }
      ]
    },
    classes: cardClass
  },
  rows: questionRows
}) }}

