{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set cardClass = "page-panel-left-standard" %}
{% if params.isEndPage %}
{% set cardClass = "page-panel-left-end" if params.rows | length else "page-panel-left-end-hide-declaration"%}
{% endif %}

{% set cardTitle = "Page " + params.pageNum + ": " + params.pageTitle %}

{% if params.isEndPage %}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">End pages</h2>
{% set cardTitle = "Check your answers" %}
{% endif %}

{{ govukSummaryList({
  card: {
    title: {
      text: cardTitle
    },
    actions: {
      items: [
        {
          href: params.pageEditUrl,
          text: "Edit",
          visuallyHiddenText: " page " + params.pageNum,
          classes: 'govuk-link--no-visited-state'
        },
        {
          href: params.pagePreviewUrl,
          text: "Preview",
          visuallyHiddenText: " page " + params.pageNum,
          attributes: 'target="_blank"',
          classes: 'govuk-link--no-visited-state'
        }
      ]
    },
    classes: cardClass
  },
  rows: params.rows
}) }}

