<!-- Left Column: Summary Card -->
<div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
  <div class="govuk-summary-card" style="{% if params.isEndPage %}govuk-summary-card-end-page{% else %}govuk-summary-card-standard-page{% endif %}">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Page {{ params.pageNum }}: {{ params.pageTitle }}</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="/{{ params.formName }}/page/{{ params.pageId }}">
            Edit<span class="govuk-visually-hidden">page {{ params.pageId }}</span>
          </a>
        </li>
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state preview-link" data-preview="preview-{{ params.pageId }}" href="/{{ params.formName }}/page/{{ params.pageId }}/preview">
            Preview<span class="govuk-visually-hidden">page {{ params.pageId }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
      {% if params.rows.length %}
        {% for row in params.rows %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ row.label }}</dt>
          <dd class="govuk-summary-list__value">{{ row.text }}</dd>
        </div>
        {% endfor %}
      {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Questions</dt>
          <dd class="govuk-summary-list__value">No questions added.</dd>
        </div>
      {% endif %}
      </dl>
    </div>
  </div>
</div>
