{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block bodyStart %}
  <style type="text/css">.app-summary-list__actions--narrow { width: 10%; }</style>
{% endblock %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    errorList: errorList
  }) %}
    {{ govukButton({
      id: "download-all",
      text: buttonText,
      classes: "js-show"
    }) }}

    {{ govukSummaryList({
      rows: list,
      attributes: {
        id: "download-all-list"
      }
    }) }}
  {% endcall %}
{% endblock %}

{% block bodyEnd %}
  <script type="module">
    import { init } from "{{ getAssetPath("download.js") }}"

    init("{{ email }}", "{{ referenceNumber }}")
  </script>
{% endblock %}
