{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      errorList: errorList,
      heading: pageHeading,
      buttons: buttons
    }) %}
      <p class="govuk-body">
        To confirm the file was meant for your team, enter the email address the file was sent to.
      </p>

      {{ govukInput({
        label: field.label,
        hint: field.hint,
        id: field.id,
        name: field.name,
        type: field.type,
        value: field.value,
        errorMessage: {
          text: formErrors[field.name].text
        } if formErrors[field.name],
        autocapitalize: field.autocapitalize,
        autocomplete: field.autocomplete,
        spellcheck: field.spellcheck
      }) }}
    {% endcall %}
  </form>
{% endblock %}
