{% extends "forms/question-input.njk" %}

{% set bodyStart %}
  <p class="govuk-body">
    To confirm the file was meant for your team, enter the email address the file was sent to.
  </p>
{% endset %}
