{% extends 'layouts/page.njk' %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading
  }) %}
    <p class="govuk-body-l">
      For security reasons, links expire after 30 days.
    </p>

    <p class="govuk-body-l">
      Contact the person who submitted the form and request the file again.
    </p>
  {% endcall %}
{% endblock %}
