{% extends "govuk/template.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}

{% block head %}
  <meta name="application-name" content="@defra/forms-designer" {{- govukAttributes({
    "data-environment": {
      value: config.cdpEnvironment,
      optional: true
    },
    "data-version": {
      value: config.serviceVersion,
      optional: true
    }
  }) }}>

  <link href="{{ getAssetPath("stylesheets/application.scss") }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "partials/navigation.njk" %}
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errorList | length }}{{ pageTitle }} - {{ config.serviceName }}
{%- endblock %}

{% block main %}
  {% block beforeContent %}
    {% if breadcrumbs.length > 1 %}
      {{ appBreadcrumbs({
        items: breadcrumbs
      }) }}
    {% endif %}
  {% endblock %}

  <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
    <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
      {% block content %}{% endblock %}
    </div>

    {% block mainEnd %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/help/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        },
        {
          href: "/help/feedback",
          text: "Feedback"
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath("application.js") }}"></script>
{% endblock %}
