{% extends "govuk/template.njk" %}

{% from "govuk/macros/attributes.njk" import govukAttributes %}
{% from "page-body/macro.njk" import appPageBody %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}

{% block head %}
  <meta name="application-name" content="@defra/forms-designer" {{- govukAttributes({
    "data-environment": {
      value: config.cdpEnvironment,
      optional: true
    },
    "data-version": {
      value: config.serviceVersion,
      optional: true
    }
  }) }}>
  <meta name="robots" content="noindex, nofollow">
  <link href="{{ getAssetPath("stylesheets/application.scss") }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "partials/navigation.njk" %}
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errorList | length }}{{ pageTitle }} - {{ config.serviceName }}
{%- endblock %}

{% block main %}
  {% block beforeContent %}
    {% if breadcrumbs.length > 1 %}
      {{ appBreadcrumbs({
        items: breadcrumbs
      }) }}
    {% endif %}
  {% endblock %}

  <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-head-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block mainStart %}{% endblock %}

    {% block content %}{% endblock %}

    {% block mainEnd %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  {% set feedbackRowHtml = "" %}

  {% if ["alpha", "beta"].includes(config.phase) %}
    {% set feedbackRowHtml %}
      <strong class="govuk-tag govuk-phase-banner__content__tag">{{ config.phase | title }}</strong>This is a new service. Help us improve it and <a class="govuk-footer__link" href="mailto:defraforms@defra.gov.uk">give your feedback by email</a>.
    {% endset %}
  {% endif %}

  {{ govukFooter({
    containerClasses: "app-width-container--wide",
    meta: {
      items: [
        {
          href: "/help/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        }
      ],
      html: feedbackRowHtml
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath("application.js") }}"></script>
{% endblock %}
