{% extends "govuk/template.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}

{% block head %}
  <link href="{{ getAssetPath("application.css") }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "partials/navigation.njk" %}
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errorList | length }}{{ pageTitle }} - {{ config.serviceName }}
{%- endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ appBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/help/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        },
        {
          href: "/help/feedback",
          text: "Feedback"
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath("application.js") }}"></script>
{% endblock %}
