{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

<div class="govuk-form-group">
    <h2 class="govuk-heading-m" tabindex="-1">Create and edit your list of autocomplete options</h2>
    {{  govukTextarea(field) }}
</div>
