{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set documentsHtml %}
    {{ govukCheckboxes(uploadFields.documentTypes) }}
{% endset -%}

{% set imagesHtml %}
    {{ govukCheckboxes(uploadFields.imageTypes) }}
{% endset -%}

{% set tabularDataHtml %}
    {{ govukCheckboxes(uploadFields.tabularDataTypes) }}
{% endset -%}

{{ govukCheckboxes(uploadFields.fileTypes | setConditionalAttribute("documents", documentsHtml) | setConditionalAttribute("images", imagesHtml) | setConditionalAttribute("tabular-data", tabularDataHtml) ) }}
