{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Request a live GOV.UK Pay account",
  html: "<p>Before you can request a live account you need to test how GOV.UK Pay works using your test account.</p>" +
  "<p>When you are ready to request a live account, go to your dashboard and select 'Setting up your live account'.</p>"
}) }}

{{ govukInput(field) }}

{% if field.customMeta.exists %}
  {% if field.customMeta.updatedAt == field.customMeta.createdAt %}
  <div class="govuk-hint">Created at {{ field.customMeta.createdAt | formatDate('d MMM yyyy h:mm aaa') }}</div>
  {% endif %}
  {% if field.customMeta.updatedAt > field.customMeta.createdAt %}
  <div class="govuk-hint">Updated at {{ field.customMeta.updatedAt | formatDate('d MMM yyyy h:mm aaa') }}</div>
  {% endif %}
{% endif %}

{% if field.disabled %}
  <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}">
  <a href="?action=clear-live-key" class="govuk-link govuk-link--no-visited-state">Clear live API key</a>
{% endif %}
