{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Request a live GOV.UK Pay account",
  html: "<p>Before you can request a live account you need to test how GOV.UK Pay works using your test account.</p>" +
  "<p>When you are ready to request a live account, go to your dashboard and select 'Setting up your live account'.</p>"
}) }}

{{ govukInput(field) }}

<!-- Key pending go-live -->
{% if field.customMeta.keyPending.exists %}
  {% set key = field.customMeta.keyPending %}
  {% if key.updatedAt == key.createdAt %}
    {% set actionText = "created at " + key.createdAt | formatDate('d MMM yyyy h:mm aaa') %}
  {% endif %}
  {% if key.updatedAt > key.createdAt %}
    {% set actionText = "updated at " + key.updatedAt | formatDate('d MMM yyyy h:mm aaa') %}
  {% endif %}
  <div class="govuk-hint">
    <span class="govuk-body govuk-!-font-weight-bold">Pending: </span>
    Key is pending go-live and was {{ actionText }}
  </div>
{% endif %}

<!-- Live key in use -->
{% if field.customMeta.key.exists %}
  {% set key = field.customMeta.key %}
  {% if key.renamedAt %}
    <div class="govuk-hint"><span class="govuk-body govuk-!-font-weight-bold">Live: </span>Live key in use went live at {{ key.renamedAt | formatDate('d MMM yyyy h:mm aaa') }}</div>
  {% endif %}
{% else %}
  <div class="govuk-hint"><span class="govuk-body govuk-!-font-weight-bold">No live key exists</span></div>
{% endif %}

{% if field.disabled %}
  <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}">
  <a href="?action=clear-live-key" class="govuk-link govuk-link--no-visited-state">Clear live API key</a>
{% endif %}
