{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "editor-card/macro.njk" import appEditorCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set radioIdIdx = 0 %}
{% set radioTextIdx = 1 %}
{% set radioHintIdx = 2 %}
{% set radioValueIdx = 3 %}

<div class="govuk-visually-hidden" id="reorder-announcement" aria-live="polite" aria-atomic="true"></div>

<!-- Dummy hidden button to allow an 'enter' press to simulate pressing the 'Save and continue' button, -->
<!-- as opposed to the next button in the page firing (which would be 'Add item') -->
{% if not state.editRow.expanded and not state.isReordering %}
  <input type="submit" class="govuk-visually-hidden hidden-submit" />
{% endif %}

<div class="govuk-form-group" id="list-items">
  <h2 class="govuk-heading-m" tabindex="-1">
    <svg class="govuk-!-margin-right-1" style="position: relative; top: -1px; vertical-align: middle;" width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="11" fill="currentColor"></circle>
      <path d="M6 8h12M6 12h12M6 16h12" stroke="white" stroke-width="2" stroke-linecap="round"></path>
    </svg>
    List items
  </h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-color:black; border-width: 3px;">


  {% if state.isReordering %}
    <ol class="app-reorderable-list" id="options-container">
    {% if state.listItems | length %}
      {% set itemsCount = state.listItems | length %}
      {% for item in state.listItems %}

        {% set isFirst = loop.first %}
        {% set isLast = loop.last %}
        {% set isFocus = state.lastMovedId == item.id %}
        {% set focusClass = " reorder-panel-focus" if isFocus else "" %}

        <li class="app-reorderable-list__item reorder-panel{{ focusClass }}" data-index="{{ loop.index }}" data-id="{{ item.id }}" data-val="{{ item.value }}" data-text="{{ item.text }}" data-hint="{{ item.hint.text }}">
          <div class="app-reorderable-list__wrapper list-item">
            <div class="app-reorderable-list__content">
              <p class="govuk-body fauxlabel option-label-display" id="option-{{ loop.index }}-label-display">
                {{ item.text }}
              </p>
              {% if item.hint.text %}
              <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{ item.hint.text }}</p>
              {% endif %}
            </div>

            {% set upAuto = "autofocus" if isFocus and (state.lastMoveDirection == "up" or isLast) else "" %}
            {% set downAuto = "autofocus" if isFocus and (state.lastMoveDirection == "down" or isFirst) else "" %}

            {% set ariaLabelUp = "Button, Move " + item.text + ": up, " + item.text + " is currently option " + loop.index + " of " + itemsCount + " options." %}
            {% set ariaLabelDown = "Button, Move " + item.text + ": down, " + item.text + " is currently option " + loop.index + " of " + itemsCount + " options." %}
            {% set ariaAlert = "The list has been reordered, " + item.text + " is now option " + loop.index + " of " + itemsCount + " options." if isFocus else "" %}

            {% if isFocus %}
              {% if state.lastMoveDirection == "up" or isLast %}
                {% set ariaLabelUp = ariaAlert + ariaLabelUp %}
              {% endif %}
              {% if state.lastMoveDirection == "down" or isFirst %}
                {% set ariaLabelDown = ariaAlert + ariaLabelDown %}
              {% endif %}
            {% endif %}

            <div class="govuk-button-group">
              {% if not isFirst %}
                <a href="?action=move&id={{ item.id }}&direction=up" class="govuk-button govuk-button--secondary" {{ upAuto }} aria-label="{{ ariaLabelUp }}">Up</a>
              {% endif %}

              {% if not isLast %}
                <a href="?action=move&id={{ item.id }}&direction=down"  class="govuk-button govuk-button--secondary" {{ downAuto }} aria-label="{{ ariaLabelDown }}">Down</a>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    {% endif %}
    </ol>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <a href="?action=done-reordering" class="govuk-button">Done</a>
    </div>
  {% else %}
    <ol class="app-reorderable-list js-enabled" id="options-container" data-module="reorderable-list">
    {% if state.listItems | length or state.editRow.expanded %}
      {% set itemsCount = state.listItems | length %}
      {% for item in state.listItems %}
        {% set isFirst = loop.first %}
        {% set isLast = loop.last %}
        {% set isFocus = state.lastMovedId == item.id %}
        {% set focusClass = " reorder-panel-focus" if isFocus else "" %}
        <li class="app-reorderable-list__item" data-index="{{ loop.index }}" data-id="{{ item.id }}" data-val="{{ item.value }}" data-text="{{ item.text }}" data-hint="{{ item.hint.text }}">
          <div class="app-reorderable-list__wrapper list-item">
            {% if loop.index == listDetails.rowNumBeingEdited %}
              <div class="app-reorderable-list__content">
                {%- include "../../../../views/forms/editor-v2/custom-templates/radio-or-checkbox-edit.njk" -%}
              </div>
            {% else %}
              <div class="app-reorderable-list__content">
                <p class="govuk-body fauxlabel option-label-display" id="option-{{ loop.index }}-label-display">
                  {{ item.text }}
                </p>
                {% if item.hint.text %}
                <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{ item.hint.text }}</p>
                {% endif %}
              </div>

              {% set ariaLabelUp = "Button, Move " + item.text + ": up, " + item.text + " is currently option " + loop.index + " of " + itemsCount + " options." %}
              {% set ariaLabelDown = "Button, Move " + item.text + ": down, " + item.text + " is currently option " + loop.index + " of " + itemsCount + " options." %}
              {% set ariaAlert = "The list has been reordered, " + item.text + " is now option " + loop.index + " of " + itemsCount + " options." if isFocus else "" %}
              <div class="app-reorderable-list__actions">
                <div class="govuk-button-group govuk-!-margin-bottom-0">
                    <a href="?action=move&id={{ item.id }}&direction=up" class="govuk-button govuk-button--secondary js-reorderable-list-up govuk-!-margin-bottom-1" aria-label="{{ ariaLabelUp }}">Up</a>
                    <a href="?action=move&id={{ item.id }}&direction=down"  class="govuk-button govuk-button--secondary js-reorderable-list-down govuk-!-margin-bottom-1" aria-label="{{ ariaLabelDown }}">Down</a>
                </div>

                <div class="edit-item">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state edit-option-link" href="?action=edit&id={{ item.id }}">
                        Edit<span class="govuk-visually-hidden"> {{ item.text }}</span>
                      </a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link govuk-link--no-visited-state govuk-link--destructive delete-option-link" href="?action=delete&id={{ item.id }}">
                        Delete<span class="govuk-visually-hidden"> {{ item.text }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              {% endif %}
          </div>
        </li>
      {% endfor %}
    {% endif %}

    {% if state.editRow.expanded %}
      {% if listDetails.rowNumBeingEdited == state.listItems.length + 1 %}
        <li class="app-reorderable-list__item" data-index="{{ loop.index }}" data-id="{{ item.id }}" data-val="{{ item.value }}" data-text="{{ item.text }}" data-hint="{{ item.hint.text }}">
          <div class="app-reorderable-list__wrapper list-item">
            <div class="app-reorderable-list__content">
              {%- include "../../../../views/forms/editor-v2/custom-templates/radio-or-checkbox-edit.njk" -%}
            </div>
          </div>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
  </ol>
</div>

{% if not state.editRow.expanded and not state.isReordering %}
<div class="govuk-button-group">
  <button id="add-option-button" type="submit" class="govuk-button govuk-!-margin-bottom-4 govuk-!-margin-bottom-6" name="enhancedAction" value="add-item">
    Add item
  </button>

  {% if state.listItems.length > 1 %}
  <a href="?action=reorder" id="edit-options-button" class="govuk-button govuk-button--inverse">
    Re-order
  </a>
  {% endif %}
</div>
{% endif %}
