{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "editor-card/macro.njk" import appEditorCard %}

{% set radioIdIdx = 0 %}
{% set radioTextIdx = 1 %}
{% set radioHintIdx = 2 %}
{% set radioValueIdx = 3 %}

<div class="govuk-form-group" id="list-items">
  <h2 class="govuk-heading-m" tabindex="-1">
    <svg class="govuk-!-margin-right-1" style="position: relative; top: -1px; vertical-align: middle;" width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="11" fill="currentColor"></circle>
      <path d="M6 8h12M6 12h12M6 16h12" stroke="white" stroke-width="2" stroke-linecap="round"></path>
    </svg>
    List items
  </h2>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="border-color:black; border-width: 3px;">

  <input type="hidden" name="listItemsData" id="radio-options-data" value="{{ state.listItems | dump }}">

  <ol class="gem-c-reorderable-list js-enabled" id="options-container" data-module="reorderable-list">
  {% if state.listItems | length  or state.editRow.expanded %}

    {% for item in state.listItems %}
      {% if loop.index == listDetails.rowNumBeingEdited %}
      {%- include "../../../../views/forms/editor-v2/custom-templates/radio-or-checkbox-edit.njk" -%}
      {% else %}
      <li class="gem-c-reorderable-list__item" data-index="{{ loop.index }}" data-id="{{ item.id }}" data-val="{{ item.value }}" data-text="{{ item.text }}">
        <div class="gem-c-reorderable-list__wrapper">
          <div class="gem-c-reorderable-list__content">
            <p class="govuk-body fauxlabel option-label-display" id="option-{{ loop.index }}-label-display">
              {{ item.text }}
            </p>
            {% if item.hint.text %}
            <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{ item.hint.text }}</p>
            {% endif %}
          </div>
          <div class="gem-c-reorderable-list__actions">
            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-up"
              type="button" aria-label="Move option up">Up</button>
            <button class="gem-c-button govuk-button govuk-button--secondary js-reorderable-list-down"
              type="button" aria-label="Move option down">Down</button>
          </div>
          <div class="edit-item">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--no-visited-state edit-option-link" href="?action=edit&id={{ item.id }}">
                Edit<span class="govuk-visually-hidden">option {{ loop.index }}</span>
              </a>
            </li>
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link govuk-link--destructive delete-option-link" href="?action=delete&id={{ item.id }}">
                Delete<span class="govuk-visually-hidden"> list item</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  </ol>

  {% if state.editRow.expanded %}

    {% if listDetails.rowNumBeingEdited == state.listItems.length + 1 %}
    {%- include "../../../../views/forms/editor-v2/custom-templates/radio-or-checkbox-edit.njk" -%}
    {% endif %}

  {% endif %}
</div>

{% if not state.editRow.expanded %}
{%- include "../../../../views/forms/editor-v2/custom-templates/radio-or-checkbox-edit.njk" -%}
<div class="govuk-button-group">
  <!-- Add Another Option Button -->
  <button id="add-option-button" type="submit" class="govuk-button govuk-!-margin-bottom-4 govuk-!-margin-bottom-6" name="enhancedAction" value="add-item">
    Add item
  </button>

  {% set displayReorderButton = "block" if state.listItems.length > 1 else "none" %}
  <button id="edit-options-button" type="submit" class="govuk-button govuk-button--inverse" style="display: {{ displayReorderButton }}" name="enhancedAction" value="re-order">
    Re-order
  </button>
</div>
{% endif %}
