{% set hasStateWithinDetailsSection = enhancedFields[radioValueIdx].value %}

{% set showOrHide = "display:block" if state.editRow.expanded else "display:none"%}
<div id="add-option-form" class="govuk-!-margin-bottom-6" style="{{ showOrHide }}" data-index="{{ loop.index }}" data-id="{{ item.id }}" data-val="{{ item.value }}" data-hint="{{ item.hint.text }}"  data-text="{{ item.text }}">
  <h2 class="govuk-caption-m" id="add-option-heading">Item {{ listDetails.rowNumBeingEdited }}</h2>
  {{ govukInput(enhancedFields[radioTextIdx]) }}

  {{ govukInput(enhancedFields[radioHintIdx]) }}

  <input type="hidden" id="radioId" name="radioId" value="{{ enhancedFields[radioIdIdx].value }}" />
  <!-- Advanced Features Section -->
  <details class="govuk-details" data-module="govuk-details" {% if hasStateWithinDetailsSection %}open{% endif %}>
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Advanced
        features</span>
    </summary>
    <div class="govuk-details__text">
      <!-- Additional Value -->
      <div class="govuk-form-group">
        {{ govukInput(enhancedFields[radioValueIdx]) }}
      </div>
    </div>
  </details>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" id="save-new-option" name="enhancedAction" value="save-item">Save item</button>
    <a class="govuk-link govuk-link--no-visited-state" href="?action=cancel" id="cancel-add-option">Cancel</a>
  </div>
</div>
