{% set headingLevel = params.level if params.level else 1 -%}
{% set headingClass = "govuk-heading-xl" -%}
{% set captionClass = "govuk-caption-xl" -%}

{% switch params.size %}
  {% case "small" %}
    {% set headingClass = "govuk-heading-s" %}
    {% set captionClass = "govuk-caption-s" %}
  {% case "medium" %}
    {% set headingClass = "govuk-heading-m" %}
    {% set captionClass = "govuk-caption-m" %}
  {% case "large" %}
    {% set headingClass = "govuk-heading-l" %}
    {% set captionClass = "govuk-caption-l" %}
{% endswitch -%}

<div class="govuk-grid-row app-heading" data-testid="app-heading">
  <div class="govuk-grid-column-two-thirds">
    <h{{ headingLevel }} class="{{ headingClass + " " + params.classes if params.classes else headingClass }}" data-testid="app-heading-title">
      {% if params.caption -%}
        <span class="{{ captionClass }}">{{ params.caption }}</span>
      {% endif -%}
      {{ params.html | safe | indent(6) if params.html else params.text }}
    </h{{ headingLevel }}>
  </div>
</div>
