@import "govuk-frontend/dist/govuk/base";
@import "../../stylesheets/editor-colours.scss";

.flyout {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;

  &__button-close {
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 100;

    @include govuk-media-query($from: tablet) {
      right: 20px;
    }
  }

  &__container {
    width: 50%;
    height: 100%;
    overflow: auto;
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;

    &.large {
      width: 75%;
    }

    &.xlarge {
      width: 95%;
    }

    textarea {
      resize: vertical;
    }
  }

  &.hide {
    transform: translate3d(-100vw, 0, 0);
  }

  &.show {
    transform: translate3d(0vw, 0, 0);
    min-width: 100%;
    overflow: hidden;
  }

  & .govuk-back-link {
    margin-top: 0;
    @include govuk-responsive-margin(6, "bottom");
  }

  & h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }

  & h2 a:hover {
    text-decoration: underline;
  }
}

.panel {
  position: relative;
  display: flex;
  max-height: 100%;
  flex-direction: column;

  &__header,
  &__body {
    padding: govuk-spacing(4);
  }

  &__header {
    padding-right: govuk-em(75px, $context-font-size: 16);
    padding-bottom: 0;
  }

  &__body {
    padding-top: 0;
  }
}
