{% from "metrics-tile/macro.njk" import appMetricsTile %}

<!-- Form Activity Section -->
<div class="govuk-!-margin-bottom-6">
  <span class="govuk-caption-m">{{ params.fromDate }} to {{ params.toDate }}</span>

  <h2 class="govuk-heading-l">{{ params.title }}</h2>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Form activity</h2>
  <div class="govuk-grid-row">
    <!-- Forms Created -->
    {{ appMetricsTile(params.tiles.NewFormsCreated) }}

    <!-- Forms First Published -->
    {{ appMetricsTile(params.tiles.FormsFirstPublished) }}

    <!-- Forms Re Published -->
    {{ appMetricsTile(params.tiles.FormsRePublished) }}

    <!-- Form Submissions -->
    {{ appMetricsTile(params.tiles.Submissions) }}
  </div>
</div>

<!-- Publishing Workflow Section -->
<div class="govuk-!-margin-bottom-0">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Publishing workflow</h2>
  <div class="govuk-grid-row">

    <!-- Forms in Draft -->
    {{ appMetricsTile(params.tiles.FormsInDraft) }}

    <!-- Average Time to Publish -->
    {{ appMetricsTile(params.tiles.TimeToPublish) }}
  </div>
</div>
