{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "grid-layout/macro.njk" import appGridLayout %}
{% from "page-body/macro.njk" import appPageBody %}

{% block head %}
  {{ super() }}
  <link href="{{ getAssetPath("stylesheets/editor.css") }}" rel="stylesheet">
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {{ govukBackLink(backLink) }}
  </div>

  <main class="govuk-main-wrapper govuk-main-wrapper--editor" id="main-content">
    <div class="govuk-width-container">
      {{ appPageBody({
        heading: pageHeading,
        classes: "govuk-grid-column-full"
      }) }}
    </div>

    <!-- Form editor -->
    <div class="app-form-editor" data-preview-url="{{ previewUrl }}"></div>
    <div class="app-form-portal"></div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("editor.js") }}"></script>

  <!-- Form metadata JSON -->
  <script type="application/json" class="app-form-metadata">
    {{ form | formatJSON | safe | indent(4) }}
  </script>

  <!-- Form definition JSON -->
  <script type="application/json" class="app-form-definition">
    {{ formDefinition | formatJSON | safe | indent(4) }}
  </script>
{% endblock %}
