{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "page-body/macro.njk" import appPageBody %}

{% block head %}
  {{ super() }}
  <link href="{{ getAssetPath("editor.css") }}" rel="stylesheet">
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  {{ appPageBody({
    heading: {
      text: pageTitle,
      size: "large"
    },
    classes: "govuk-grid-column-full app-editor",
    attributes: {
      "data-id": form.id,
      "data-slug": form.slug,
      "data-preview-url": previewUrl
    }
  }) }}

  <div id="portal-root"></div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script type="module" src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script type="module" src="{{ getAssetPath("editor.js") }}"></script>
{% endblock %}
