{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "grid-layout/macro.njk" import appGridLayout %}
{% from "page-body/macro.njk" import appPageBody %}

{% set mainClasses = "govuk-main-wrapper--editor" %}

{% block beforeContent %}
  <div class="govuk-width-container app-width-container--wide">
    {{ govukBackLink(backLink) }}
  </div>
{% endblock %}

{% block content %}
  {{ appPageBody({
    heading: pageHeading,
    classes: "govuk-grid-column-full",
    errorList: badRequestErrorList
  }) }}
{% endblock %}

{% block mainEnd %}
  {{ super() }}

  <!-- Form editor -->
  <div class="app-form-editor" data-preview-url="{{ previewUrl }}"></div>
  <div class="app-form-portal"></div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("vendor/react.js") }}"></script>
  <script type="module" src="{{ getAssetPath("editor.js") }}"></script>

  <!-- Form metadata JSON -->
  <script type="application/json" class="app-form-metadata">
    {{ form | formatJSON | safe | indent(4) }}
  </script>

  <!-- Form definition JSON -->
  <script type="application/json" class="app-form-definition">
    {{ formDefinition | formatJSON | safe | indent(4) }}
  </script>
{% endblock %}
