{% extends "layouts/page.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "form-status/macro.njk" import appFormStatus %}
{% from "pagination/macro.njk" import appPagination %}
{% from "sorting/macro.njk" import appSorting %}
{% from "search/macro.njk" import appSearch %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
{% call appPageBody({
  heading: pageHeading,
  description: pageDescription,
  actions: pageActions,
  classes: "govuk-grid-column-full"
}) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if notification | length %}
        {% call govukNotificationBanner({
            type: "success"
          }) %}
            <p class="govuk-notification-banner__heading">{{ notification }}</p>
        {% endcall %}
      {% endif %}
    </div>
  </div>

  {% set formCount = pagination.totalItems if pagination else formItems | length %}
  {% set formCountText = formCount + (" form" if formCount == 1 else " forms") %}

  <div class="govuk-grid-row">
    <aside class="govuk-grid-column-one-third-from-desktop">
      {{ appSearch({
        search: search,
        sorting: sorting,
        baseUrl: "/library",
        filters: meta.filters,
        displayName: authedUser.displayName
      }) }}
    </aside>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if formItems | length %}
        <h2 class="govuk-heading-m">{{ formCountText }}</h2>
        <span class="govuk-visually-hidden" role="alert">Search results - {{ formCountText }}</span>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% else %}
        <h2 class="govuk-heading-m">{{ formCountText }}</h2>
        <span class="govuk-visually-hidden" role="status">{{ formCountText }}</span>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m govuk-!-padding-top-4">
          There are no matching forms
        </h3>
        <p class="govuk-body">Improve your search results by removing filters.</p>
        <p class="govuk-body">
          <a href="/library" class="govuk-link govuk-link--no-visited-state">Clear filters</a>
        </p>
      {% endif %}

      {% if formItems | length %}
        {{ appSorting({
          sorting: sorting,
          search: search
        }) }}
      {% endif %}

    {% set formRowsMobile = [] %}
    {% set formRowsDesktop = [] %}

    {% for form in formItems %}
      {% set formName %}
        <a href="/library/{{ form.slug | urlencode }}" class="govuk-link govuk-link--no-visited-state">
          {{ form.title }}
        </a>
      {% endset %}

      {% set formUpdated %}
        <span class="app-display-until-desktop">Updated </span>{{ form.updatedAt | formatDate }}<br>
        by {{ form.updatedBy.displayName }}
      {% endset %}

      {% set formNameUpdated %}
        {{ formName | safe }}
        <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-1">
          {{ formUpdated | safe }}
        </p>
      {% endset %}

      {% set formStatus %}
        {{ appFormStatus({
          metadata: form
        }) }}
      {% endset %}

      {% set formRowsMobile = (formRowsMobile.push([
        {
          html: formNameUpdated
        },
        {
          html: formStatus
        }
      ]), formRowsMobile) %}

      {% set formRowsDesktop = (formRowsDesktop.push([
        {
          html: formName
        },
        {
          html: formUpdated
        },
        {
          html: formStatus
        }
      ]), formRowsDesktop) %}
    {% endfor %}

    {% if formRowsMobile | length %}
      {{ govukTable({
        classes: "app-display-until-desktop" if formRowsDesktop | length,
        head: [
          {
            text: "Name",
            classes: "govuk-!-width-three-quarters"
          },
          {
            text: "Status"
          }
        ],
        rows: formRowsMobile
      }) }}
    {% endif %}

    {% if formRowsDesktop | length %}
      {{ govukTable({
        classes: "app-display-from-desktop" if formRowsMobile | length,
        head: [
          {
            text: "Name",
            classes: "govuk-!-width-one-half"
          },
          {
            text: "Last updated"
          },
          {
            text: "Status",
            classes: "govuk-!-width-one-quarter"
          }
        ],
        rows: formRowsDesktop
      }) }}
    {% endif %}

      {{ appPagination({
        baseUrl: "/library",
        pagination: pagination,
        search: search
      }) }}
    </div>
  </div>
{% endcall %}
{% endblock %}
