{% extends "forms/question-input.njk" %}

{% set bodyStart %}
  <p class="govuk-body-l">Enter an email address for submitted forms to be sent to for processing.</p>
  <p class="govuk-body-l">It should be a shared government email inbox and you should test it before making a form live.</p>
{% endset %}
