{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  <div class="govuk-width-container app-width-container--wide">
    {{ govukBackLink(backLink) }}
  </div>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      heading: {
        text: pageTitle,
        caption: form.title,
        size: "large"
      },
      errorList: errorList
    }) %}
      <p class="govuk-body-l">Enter an email address for submitted forms to be sent to for processing.</p>
      <p class="govuk-body-l">It should be a shared government email inbox and you should test it before making a form live.</p>
      <p class="govuk-body-l">Contact us to add more email addresses or to switch the output to a machine readable version.</p>
      {{ govukInput({
        label: {
          text: field.label.text,
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: field.id,
        name: field.name,
        value: field.value,
        hint: field.hint,
        errorMessage: {
          text: formErrors[field.name].text
        } if formErrors[field.name]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: buttonText
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: backLink.href,
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  {% endcall %}
{% endblock %}
