{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "page-body/macro.njk" import appPageBody %}
{% from "heading/macro.njk" import appHeading %}
{% from "form-card/macro.njk" import appFormCard %}
{% from "form-status/macro.njk" import appFormStatus %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% set formStatus %}
  {{ appFormStatus({
    metadata: form
  }) }}
{% endset %}

{% set formUpdated %}
  {{ (form.draft.updatedAt if form.draft.updatedAt else "2024-04-09") | formatDate }}
  by {{ form.draft.updatedBy.displayName | default("Enrique Chase", true) }}
{% endset %}

{% set formCreated %}
  {{ (form.draft.createdAt if form.draft.createdAt else "2024-03-01") | formatDate }}
  by {{ form.draft.createdBy.displayName | default("Nathanael Booker", true) }}
{% endset %}

{% set formLink %}
  {% set linkHref = previewUrl + "/" + form.slug | urlencode %}
  <a href="{{ linkHref }}" class="govuk-link govuk-link--no-visited-state">
    {{ linkHref }}
  </a>
{% endset %}

{% set formDetails %}
  {{ appHeading({
    text: pageTitle,
    size: "large"
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Status"
        },
        value: {
          html: formStatus
        }
      },
      {
        key: {
          text: "Updated"
        },
        value: {
          text: formUpdated
        }
      },
      {
        key: {
          text: "Created"
        },
        value: {
          text: formCreated
        }
      },
      {
        key: {
          text: "Preview link"
        },
        value: {
          text: formLink | safe
        }
      }
    ]
  }) }}

  {{ appHeading({
    text: "Organisation details",
    size: "medium"
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Form name"
        },
        value: {
          html: form.title
        }
      },
      {
        key: {
          text: "Lead organisation"
        },
        value: {
          html: form.organisation
        }
      },
      {
        key: {
          text: "Team name"
        },
        value: {
          html: form.teamName
        }
      }
    ]
  }) }}
{% endset %}

{% block content %}
  {{ appPageBody([
    [
      {
        html: formDetails,
        classes: "govuk-grid-column-two-thirds-from-desktop"
      },
      {
        html: appFormCard(formManagement),
        classes: "govuk-grid-column-one-third-from-desktop"
      }
    ]
  ]) }}
{% endblock %}
