{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "grid-layout/macro.njk" import appGridLayout %}
{% from "heading/macro.njk" import appHeading %}
{% from "form-card/macro.njk" import appFormCard %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% set formDetails %}
  {% if form.draft %}
    {% include "forms/partials/overview-draft.njk" %}
  {% endif %}

  {% if form.live %}
    {% include "forms/partials/overview-live.njk" %}
  {% endif %}

  {{ appHeading({
    text: "Organisation details",
    size: "medium",
    level: '2',
    classes: "govuk-!-margin-top-8"
  }) }}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-8",
    rows: [
      {
        key: {
          text: "Form name"
        },
        value: {
          html: form.title
        }
      },
      {
        key: {
          text: "Lead organisation"
        },
        value: {
          html: form.organisation
        }
      },
      {
        key: {
          text: "Team name"
        },
        value: {
          html: form.teamName
        }
      },
      {
        key: {
          text: "Shared team email address"
        },
        value: {
          html: form.teamEmail
        }
      }
    ]
  }) }}
{% endset %}

{% set formHeading %}
  {% call govukNotificationBanner({
    type: "success"
  }) %}
    <p class="govuk-notification-banner__heading">{{ notification }}</p>
  {% endcall %}
{% endset %}

{% block content %}
  {{ appGridLayout([
    [
      {
        html: formHeading
      } if notification | length,
      {
        html: appGridLayout([
          {
            html: appHeading(pageHeading),
            classes: "govuk-grid-column-two-thirds govuk-grid-column-full-from-desktop"
          },
          {
            html: formDetails,
            classes: "govuk-grid-column-full"
          }
        ]),
        classes: "govuk-grid-column-two-thirds-from-desktop"
      },
      {
        html: appFormCard(formManagement),
        classes: "govuk-grid-column-one-third-from-desktop"
      }
    ]
  ]) }}
{% endblock %}
