{% extends "forms/question-input.njk" %}

{% set bodyStart %}
  <p class="govuk-body-l">
    To comply with the UK General Data Protection Regulation (UK GDPR),
    you must provide privacy information for the people who will enter their data into your form.
  </p>
{% endset %}
