{% extends 'layouts/page.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import appErrorSummary %}

{% if formErrors | length %}
  {% set pageTitle = "Error: " + pageTitle %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: pageHeading or pageTitle,
    classes: "govuk-heading-l"
  }) }}

  {% call appPageBody() %}
    <form method="post" novalidate>
      {% if formErrors | length %}
        {{ appErrorSummary({
          formErrors: formErrors
        }) }}
      {% endif %}

      {% for field in fields %}
        {{ govukInput({
          label: field.label,
          hint: field.hint,
          id: field.id,
          name: field.name,
          value: field.value,
          errorMessage: {
            text: formErrors[field.name].message
          } if formErrors[field.name],
          autocapitalize: field.autocapitalize,
          autocomplete: field.autocomplete,
          spellcheck: field.spellcheck
        }) }}
      {% endfor %}

      {{ govukButton({
        text: buttonText
      }) }}
    </form>
  {% endcall %}
{% endblock %}
