{% extends 'layouts/page.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      errorList: errorList
    }) %}
      {{ govukInput({
        label: {
          text: field.label.text,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: field.id,
        name: field.name,
        value: field.value,
        errorMessage: {
          text: formErrors[field.name].text
        } if formErrors[field.name],
        autocapitalize: field.autocapitalize,
        autocomplete: field.autocomplete,
        spellcheck: field.spellcheck
      }) }}

      {{ govukButton({
        text: buttonText
      }) }}
    </form>
  {% endcall %}
{% endblock %}
