{% extends 'layouts/page.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      errorList: errorList,
      heading: pageHeading
    }) %}
      {% for field in fields %}
        {% if field.type === "hidden" %}
          <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
        {% else %}
          {{ govukInput({
            label: field.label,
            hint: field.hint,
            id: field.id,
            name: field.name,
            value: field.value,
            errorMessage: {
              text: formErrors[field.name].text
            } if formErrors[field.name],
            autocapitalize: field.autocapitalize,
            autocomplete: field.autocomplete,
            spellcheck: field.spellcheck
          }) }}
        {% endif %}
      {% endfor %}

      {{ govukButton({
        text: buttonText
      }) }}
    {% endcall %}
  </form>
{% endblock %}
