{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  <div class="govuk-width-container app-width-container--wide">
    {{ govukBackLink(backLink) }}
  </div>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% call appPageBody({
      heading: {
        text: pageTitle,
        caption: form.title,
        size: "large"
      },
      errorList: errorList
    }) %}
      <p class="govuk-body-l">Add some information to tell people what will happen after they’ve submitted their form, and when - so they know what to expect.</p>

      <h2 class="govuk-heading-s">Example</h2>
      <div class="govuk-inset-text">
        We’ll send you an email to let you know the outcome. You’ll usually get a response within 10 working days.
      </div>

      <p class="govuk-body govuk-!-margin-bottom-6">
        The email confirmation will also include the contact details you provide for the form, and the date and time of submission.
      </p>

      <h2 class="govuk-heading-m">Where this text is shown</h2>
      <p class="govuk-body">
        The information you include here appears on the form submission page under the heading 'What happens next'.
      </p>

      <p class="govuk-body">
        The text also appears in the form submission confirmation email. Users can opt-in to receive a confirmation email
        at the end of the form. Emails are sent automatically using GOV.UK Notify.
      </p>

      {{ govukWarningText({
        html: 'If you use markdown to format the text, <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://www.notifications.service.gov.uk/using-notify/formatting">check the formatting restrictions for GOV.UK Notify (opens in new tab)</a>',
        iconFallbackText: "Warning"
      }) }}

      {{ govukTextarea({
        label: {
          text: field.label.text,
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: field.id,
        name: field.name,
        value: field.value,
        hint: field.hint,
        errorMessage: {
          text: formErrors[field.name].text
        } if formErrors[field.name]
      }) }}

      {% include "forms/partials/markdown-guidance.njk" %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: buttonText
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: backLink.href,
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  {% endcall %}
{% endblock %}
