{% extends "forms/question-textarea.njk" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set bodyStart %}
  <p class="govuk-body-l">Add some information to tell people what will happen after they’ve submitted their form, and when - so they know what to expect.</p>

  <h2 class="govuk-heading-s">Example</h2>

  {{ govukInsetText({
    text: "We’ll send you an email to let you know the outcome. You’ll usually get a response within 10 working days."
  }) }}

  <p class="govuk-body govuk-!-margin-bottom-6">
    The email confirmation will also include the contact details you provide for the form, and the date and time of submission.
  </p>
{% endset %}

{% set bodyEnd %}
  {% include "forms/partials/markdown-guidance.njk" %}
{% endset %}
