{% from "grid-layout/macro.njk" import appGridLayout %}

{% macro appPageBody(params) %}
  {{- appGridLayout({
    html: caller(),
    classes: params.classes,
    attributes: params.attributes
  } if caller else params) -}}
{% endmacro %}
