{% set content = params.html | safe if params.html else params.text %}

<div class="govuk-grid-row">
  <div class="{{ params.classes if params.classes else "govuk-grid-column-two-thirds" }}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    {{ caller() if caller else content }}
  </div>
</div>
