{% from "page-preview-panel/macro.njk" import appPagePreviewPanel %}
{% from "preview-panel/macro.njk" import appPreviewPanel %}

{% call appPagePreviewPanel(previewModel) %}
{% endcall %}

<script src="{{ getAssetPath("assets/nunjucks/govuk-components.js") }}"></script>
<script type="module">
  import { setupSummaryPageController } from "{{ getAssetPath("pagePreview.js") }}"

  setupSummaryPageController('{{ preview.definitionId }}', {
    showConfirmationEmail: {{ previewModel.showConfirmationEmail | dump }},
    declarationText: {{ previewModel.declarationText | dump | safe }},
    needDeclaration: {{ previewModel.needDeclaration | dump }},
    isConfirmationEmailSettingsPanel: {{ previewModel.isConfirmationEmailSettingsPanel | dump }}
  })
</script>
