{% from "icon-button/macro.njk" import appIconButton %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

<div class="govuk-summary-card govuk-!-margin-top-0 pages-panel-left-standard">
  <div class="govuk-summary-card__content govuk-!-padding-top-0 editor-card-background">
    <dl class="govuk-summary-list" role="presentation">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <div class="govuk-grid-row" id="page-settings-container-1">
            <div id="card-1">
              <div class="govuk-summary-card__content">
                <div class="app-tab-container app-tab-container--title-only">
                  <div class="editor-card-title" id="page-settings">{{ cardTitle }}</div>
                  {%- include "../../../../views/forms/editor-v2/partials/page-navigation-tabs.njk" -%}
                </div>
                <div class="govuk-!-padding-top-3">
                  <span class="govuk-caption-l">{{ cardCaption }}</span>
                  <h1 class="govuk-heading-l" id="page-heading">{{ cardHeading }}</h1>

                  {% if errorList | length %}
                    {{ govukErrorSummary({
                      titleText: "There is a problem",
                      errorList: errorList,
                      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-4"
                    }) }}
                  {% endif %}
                  {% if notification | length %}
                    {% call govukNotificationBanner({
                      type: "success"
                    }) %}
                      <p class="govuk-notification-banner__heading">{{ notification }}</p>
                    {% endcall %}
                  {% endif %}

                  {% if sectionInfo %}
                    {{ govukSummaryList({
                      rows: [{
                        key: {
                          text: 'Section',
                          classes: 'govuk-!-width-one-quarter'
                        },
                        value: {
                          text: sectionInfo.title,
                          classes: 'govuk-!-width-one-half'
                        },
                        actions: {
                          items: [
                            {
                              href: sectionInfo.changeUrl,
                              text: 'Change',
                              visuallyHiddenText: 'section',
                              classes: 'govuk-link--no-visited-state govuk-!-width-one-quarter'
                            }
                          ]
                        }
                      }],
                      classes: 'govuk-summary-list__show_final_divider govuk-!-margin-bottom-6'
                    }) }}
                  {% endif %}

                  <form class="form" method="post">

                    {{ govukInput(fields.pageHeading) }}

                    {{ govukTextarea(fields.guidanceText) }}

                    {%- include "../../../../views/forms/editor-v2/partials/markdown-help.njk" -%}

                    {{ govukCheckboxes(fields.exitPage) }}

                    <div class="govuk-button-group govuk-!-margin-top-6">
                      {{ govukSkipLink({
                        text: "Skip to page preview",
                        href: "#tab-preview",
                        classes: "govuk-!-margin-right-4"
                      }) }}

                      {{ govukButton({
                        text: buttonText
                      }) }}

                      {% if questionId !== 'new' %}
                        <a href="{{ baseUrl }}/delete/{{ questionId }}" class="govuk-link govuk-link--no-visited-state">
                          Delete page
                        </a>
                      {% endif %}
                    </div>

                  </form>

                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                  {%- include "../../../../views/forms/editor-v2/partials/conditions.njk" -%}
                </div>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>
