<!-- Ensure html elements are escaped -->
{% for questionRow in page.questionRows %}
  {% if questionRow.value.html %}
    {% set escapedHtml = questionRow.value.html | forceescape | replace("&lt;br&gt;", "<br>") %}
    {% set questionRow = { key: { text: questionRow.key.text, classes: questionRow.key.classes }, value: { html: escapedHtml.val, classes: questionRow.value.classes }, classes: questionRow.classes } %}
  {% else %}
    {% set questionRow = { key: { text: questionRow.key.text, classes: questionRow.key.classes }, value: { text: questionRow.value.text, classes: questionRow.value.classes }, classes: questionRow.classes } %}
  {% endif %}
  {% set questionRows = (questionRows.push(questionRow), questionRows) %}
{% endfor %}
