{% from "page-preview-panel/macro.njk" import appPagePreviewPanel %}
{% from "preview-panel/macro.njk" import appPreviewPanel %}

{% call appPagePreviewPanel(previewModel) %}
{% endcall %}

<script src="{{ getAssetPath("assets/nunjucks/govuk-components.js") }}"></script>
<script type="module">
    import { setupPageController } from "{{ getAssetPath("pagePreview.js") }}"
    setupPageController({{ preview.page | safe }}, {{ preview.definition | safe }}, '{{ preview.pageTemplate if preview.pageTemplate }}')
</script>
