{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% if extraFields | length %}

<details class="govuk-details" data-module="govuk-details"{% if isOpen %} open{% endif %}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Additional settings (optional)
    </span>
  </summary>
  <div class="govuk-details__text">
    <div id="question-extra-content" class="question-content" style="margin-top: 10px;">
      {% for field in extraFields %}
        {% set fieldType = getFieldType(field) %}
        {% if fieldType == 'TextField' %}
          {{ govukInput(field) }}
        {% elif fieldType == 'MultilineTextField' %}
          {{ govukTextarea(field) }}
        {% elif fieldType == 'CheckboxesField' %}
          {{ govukCheckboxes(field) }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</details>
{% endif %}
