{% from "preview-panel/macro.njk" import appPreviewPanel %}

{% call appPreviewPanel({
    questionType: questionType
  }) %}
{% endcall %}

<!-- this could probably be better handled with a preview function rather than a global -->
<script>document.questionType = '{{ questionType }}'.toLowerCase()</script>

<script src="{{ getAssetPath("assets/nunjucks/govuk-components.js") }}"></script>
<script src="{{ getAssetPath("preview.js") }}"></script>
