{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set headingAndGUidanceHtml %}
{{ govukInput(fields.pageHeading) }}
{{ govukTextarea(fields.guidance) }}
{% endset -%}

<h1 class="govuk-heading-l">Settings</h1>

<div class="govuk-form-group">
  {{ govukCheckboxes(headingAndGuidance) }}
</div>

{{ govukButton({
  text: 'Save changes'
}) }}
