{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

  <div class="govuk-form-group">
      {{ govukInput(fields.question) }}

      {{ govukTextarea(fields.hintText) }}

      {{ govukCheckboxes(fields.questionOptional) }}

      {{ govukInput(fields.shortDescription) }}

      <input type="hidden" name="questionType" id="questionType" value="{{ questionType }}" />
      <input type="hidden" name="name" id="name" value="{{ fields.name.value }}" />
  </div>

  {% if optionalFieldsPartial %}
    {%- include "../../../../views/forms/editor-v2/partials/" + optionalFieldsPartial -%}
  {% endif %}
