{% from "icon-button/macro.njk" import appIconButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

<div class="govuk-form-group">
  {% for field in basePageFields %}
    {% set fieldType = getFieldType(field) %}
    {% if field.customTemplate %}
      {%- include "../../../../views/forms/editor-v2/custom-templates/file-types.njk" -%}
    {% elif fieldType == 'TextField' %}
      {{ govukInput(field) }}
    {% elif fieldType == 'MultilineTextField' %}
      {{ govukTextarea(field) }}
    {% elif fieldType == 'CheckboxesField' %}
      {{ govukCheckboxes(field) }}
    {% endif %}
  {% endfor %}
  <input type="hidden" name="questionType" id="questionType" value="{{ questionType }}" />
  <input type="hidden" name="name" id="name" value="{{ name }}" />
</div>

{%- include "../../../../views/forms/editor-v2/partials/question-details-advanced-settings.njk" -%}

{#       {{ appIconButton({
        label: "Preview error messages",
        href: "#",
        id: "preview-error-messages"
      }) }}
#}
