{% from "preview-panel/macro.njk" import appPreviewPanel %}

{% call appPreviewPanel({
    questionType: questionType
  }) %}
{% endcall %}

<script>
document.questionType = '{{ questionType }}'
</script>

<script type="module" src="{{ getAssetPath("editor-v2.js") }}"></script>
