{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro renderFieldByType(field) %}
  {% set fieldType = getFieldType(field) %}
  {% if fieldType == 'TextField' %}
    {{ govukInput(field) }}
  {% elif fieldType == 'MultilineTextField' %}
    {{ govukTextarea(field) }}
  {% elif fieldType == 'CheckboxesField' %}
    {{ govukCheckboxes(field) }}
  {% elif fieldType == 'RadiosField' %}
    {{ govukRadios(field) }}
  {% endif %}
{% endmacro %}

{% if isGeospatialField %}
  <h3 class="govuk-heading-m">Location data</h3>
  <p class="govuk-body">You will receive the following data for points, lines, and shapes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>All coordinates</li>
    <li>A grid reference for the first point</li>
    <li>A grid reference for the centre point</li>
    <li>A map showing the locations</li>
  </ul>
  <p class="govuk-body">The machine-readable output will include all of the above in GeoJSON format.</p>
{% endif %}

{% if isLocationField %}
  <h3 class="govuk-heading-m">Additional settings (optional)</h3>
  <p class="govuk-hint">You should choose a location format first before adding additional settings.</p>

  {% set instructionTextHtml %}
    {% for field in extraFields %}
      {% if field.name == 'instructionText' %}
        {{ govukTextarea(field) }}
      {% endif %}
    {% endfor %}
  {% endset -%}

  <div id="question-extra-content" class="question-content">
    {% for field in basePageFields %}
      {% if field.name == 'questionOptional' %}
        {{ govukCheckboxes(field) }}
      {% endif %}
    {% endfor %}

    {% for field in extraFields %}
      {% if field.name == 'giveInstructions' %}
        {{ govukCheckboxes(field | setConditionalAttribute("true", instructionTextHtml)) }}
      {% elif field.name != 'instructionText' %}
        {{ renderFieldByType(field) }}
      {% endif %}
    {% endfor %}
  </div>
{% elif extraFields | length %}

  <details class="govuk-details" data-module="govuk-details"{% if isOpen %} open{% endif %}>
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Additional settings (optional)
      </span>
    </summary>
    <div class="govuk-details__text">
      <div id="question-extra-content" class="question-content govuk-!-margin-top-2">
        {% for field in extraFields %}
          {{ renderFieldByType(field) }}
        {% endfor %}
      </div>
    </div>
  </details>
{% endif %}
