{% from "page-preview-panel/macro.njk" import appPagePreviewPanel %}
{% from "preview-panel/macro.njk" import appPreviewPanel %}

{% call appPagePreviewPanel(previewModel) %}
{% endcall %}

<script src="{{ getAssetPath("assets/nunjucks/govuk-components.js") }}"></script>
<script type="module">
    {% if action == 'reorder' %}
    import { setupReorderQuestionsController } from "{{ getAssetPath("pagePreview.js") }}"
    setupReorderQuestionsController({{ preview.page | safe }}, {{ preview.definition | safe }})
    {% else %}
    import { setupPageController } from "{{ getAssetPath("pagePreview.js") }}"
    setupPageController({{ preview.page | safe }}, {{ preview.definition | safe }})
    {% endif %}
</script>
