{% from "icon-button/macro.njk" import appIconButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

<div class="govuk-form-group">
  {% for field in basePageFields %}
    {% if field.customTemplate %}
      {%- include "../../../../views/forms/editor-v2/custom-templates/" + field.customTemplate + ".njk" -%}
    {% else %}
      {% set fieldType = getFieldType(field) %}
      {% if field.preContent %}
        {%- include field.preContent.path -%}
      {% endif %}
      {% if fieldType == 'TextField' %}
        {{ govukInput(field) }}
      {% elif fieldType == 'MultilineTextField' %}
        {{ govukTextarea(field) }}
      {% elif fieldType == 'CheckboxesField' %}
        {{ govukCheckboxes(field) }}
      {% elif fieldType == 'FileUploadField' %}
        {%- include "../../../../views/forms/editor-v2/partials/file-types.njk" -%}
      {% endif %}
    {% endif %}
  {% endfor %}

  <input type="hidden" name="questionType" id="questionType" value="{{ questionType }}" />
  <input type="hidden" name="name" id="name" value="{{ name }}" />
  <input type="hidden" name="list" id="list" value="{{ listDetails.list }}" />
  <input type="hidden" name="jsEnabled" id="jsEnabled" value="false" />

  <div class="govuk-button-group govuk-!-margin-top-6">
    {{ govukSkipLink({
      text: "Skip to error messages preview",
      href: "#tab-errors",
      classes: "govuk-!-margin-right-4"
    }) }}
  </div>

</div>

{%- include "../../../../views/forms/editor-v2/partials/question-details-advanced-settings.njk" -%}

{% if questionId != 'new' %}
  {{ appIconButton({
    label: "Preview error messages",
    href: previewErrorsUrl,
    id: "preview-error-messages"
  }) }}
{% endif %}
