@use "../govuk-frontend" as *;
@use "../../../../../client/src/stylesheets/variables/colours" as *;

.app-form-card {
  background-color: $app-light-grey;
  padding: govuk-spacing(3);
  padding-bottom: 0;

  @include govuk-media-query($from: tablet) {
    .govuk-button-group {
      margin-right: 0;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .govuk-button {
      width: 100%;
      margin-right: 0;
    }
  }
}
