{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "heading/macro.njk" import appHeading %}

<aside class="app-form-card">
  {{ appHeading(params.heading) }}
  <div class="govuk-button-group">
    {% for button in params.buttons %}
      {{ govukButton(button) }}
    {% endfor %}
  </div>
</aside>
