@use "../govuk-frontend" as *;

.app-search-form {
  margin-bottom: govuk-spacing(6);

  .govuk-form-group {
    margin-bottom: govuk-spacing(4);
  }

  .govuk-button-group {
    margin-top: govuk-spacing(4);
  }

  .govuk-accordion {
    margin-bottom: govuk-spacing(4);
  }

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(0);

    .govuk-button-group {
      display: flex;
      gap: govuk-spacing(2);
    }

    .govuk-button {
      flex: 1;
    }
  }
}
