{% from "preview-error-panel/macro.njk" import appPreviewErrorPanel %}
{% from "preview-panel-layout/macro.njk" import appPreviewPanelLayout %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

<div class="govuk-!-margin-top-9">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>
    <ul class="govuk-tabs__list" role="tablist">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
        <a class="govuk-tabs__tab" href="#tab-preview" id="tab-preview" role="tab" aria-controls="tab-preview">Page preview</a>
      </li>
      {% if params.errorTemplates %}
      <li class="govuk-tabs__list-item" role="presentation">
        <a class="govuk-tabs__tab" href="#tab-errors" id="tab-errors" role="tab" aria-controls="tab-errors">Error messages</a>
      </li>
      {% endif %}
    </ul>

    <div class="govuk-tabs__panel" id="tab-preview" role="tabpanel" aria-labelledby="tab-preview" tabindex="-1">
      <!-- Page Preview Content -->
      <p class="govuk-body-s">
        <a href="{{ params.previewPageUrl }}" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">
          Preview this page in a new tab
        </a>
      </p>

      <!-- Question Content Here -->
      <div class="border-left-container-shorttext" id="preview-panel-content">
        <div id="preview-panel-inner">
          {{ caller() }}
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-3">
        {{ govukSkipLink({
          text: "Skip to page overview" if not params.skipLink else params.skipLink.text,
          href: "#page-overview" if not params.skipLink else params.skipLink.url,
          classes: "govuk-!-margin-right-4",
          attributes: {
            "data-module": "govuk-skip-link"
          }
        }) }}
      </div>
    </div>

    {% if params.errorTemplates %}
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-errors" role="tabpanel" aria-labelledby="tab-errors">
      <p class="govuk-body-s">
        <a href="{{ params.previewErrorsUrl }}" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">
          Preview error messages in a new tab
        </a>
      </p>
      <!-- Error Messages Content -->
      <div class="govuk-error-summary" data-disable-auto-focus="true">
          {% call appPreviewErrorPanel({
            errorTemplates: params.errorTemplates,
            fieldDetails: {
              extraFields: params.extraFields,
              basePageFields: params.basePageFields
            },
            questionType: params.questionType
          }) %}
          {% endcall %}
      </div>

      <div class="govuk-button-group govuk-!-margin-top-3">
        {{ govukSkipLink({
          text: "Skip to edit short description",
          href: "#shortDescription",
          attributes: {
            "data-module": "govuk-skip-link"
          }
        }) }}
      </div>
    </div>
    {% endif %}
  </div>
</div>

