{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    caption: pageCaption,
    classes: "govuk-grid-column-two-thirds",
    backLink: backLink,
    useNewMasthead: true
  }) %}

    {{ govukTable(settingsTable) }}

  {% endcall %}
{% endblock %}
