{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "editor-card/macro.njk" import appEditorCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% set declarationHtml %}
{{ govukTextarea(fields.declarationText) }}
{%- include "../views/forms/editor-v2/partials/markdown-help.njk" -%}
{% endset -%}

{% block content %}
  {% call appPageBody({
  heading: pageHeading,
  description: pageDescription,
  caption: pageCaption,
  actions: pageActions,
  classes: "govuk-grid-column-full",
  backLink: backLink,
  useNewMasthead: true
}) %}

  <div class="govuk-grid-column-one-half-from-desktop">

    {% call appEditorCard({
      title: cardTitle,
      caption: cardCaption,
      heading: cardHeading,
      notification: notification,
      errorList: errorList
    }) %}

      <form id="checkAnswersForm" class="form" method="post">

        {% call govukFieldset({
          legend: {
            text: "Do users need to make a declaration?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

          {{ govukRadios(fields.needDeclaration | setConditionalAttribute("true", declarationHtml)) }}

          {{ govukButton({
            text: 'Save changes'
          }) }}

        {% endcall %}

      </form>
    {% endcall %}

  </div>
  <div class="govuk-grid-column-one-half-from-desktop preview-panel page-preview-panel" id="preview-panel">
    {%- include "../views/forms/editor-v2/partials/questions-right-panel.njk" -%}
  </div>
  {% endcall %}

{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
