{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "editor-card/macro.njk" import appEditorCard %}
{% from "condition-editor/macro.njk" import appConditionEditor %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    description: pageDescription,
    caption: pageCaption,
    actions: pageActions,
    classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
    backLink: backLink,
    useNewMasthead: true
  }) %}

    {% if conditionEditor.conditionId !== 'new' %}
      <div class="govuk-summary-card govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <div class=" govuk-summary-card__title-wrapper">
          <div class=" govuk-summary-card__title">Original condition</div>
        </div>

        <div class="govuk-summary-card__content">
          <p class="govuk-body govuk-!-font-weight-bold">{{ conditionEditor.displayNameField.value }}</p>
          <p class="govuk-body">{{ conditionEditor.originalConditionHtml | safe }}</p>
        </div>
      </div>
    {% endif %}

    {% call appEditorCard({
      caption: cardCaption,
      classes: 'editor-card-background-very-light-grey',
      errorList: errorList
    }) %}
      {{ appConditionEditor(conditionEditor) }}
    {% endcall %}
  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
