{% extends "layouts/page.njk" %}

{% from "editor-card/macro.njk" import appEditorCard %}
{% from "page-body/macro.njk" import appPageBody %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    description: pageDescription,
    caption: pageCaption,
    useNewMasthead: useNewMasthead,
    classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
    backLink: backLink
  }) %}

    {% if notification | length %}
      {% call govukNotificationBanner({
          type: "success"
        }) %}
      <p class="govuk-notification-banner__heading">{{ notification }}</p>
      {% endcall %}
    {% endif %}

    <div class="editor-card-title">{{ cardTitle }}</div>

    {% if (summaryTable.rows | length) %}
      {{ govukTable(summaryTable) }}
      <div class="govuk-button-group">
        <a class="govuk-button" href="#">Create new condition</a>
      </div>
    {% else %}
      <p class="govuk-body govuk-!-margin-top-4">No conditions available to use. Create a new condition.</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}
  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
