{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "editor-card/macro.njk" import appEditorCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
  heading: pageHeading,
  description: pageDescription,
  caption: pageCaption,
  actions: pageActions,
  classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
  backLink: backLink,
  useNewMasthead: true
}) %}

  {% call appEditorCard({
    title: cardTitle,
    heading: cardHeading,
    caption: cardCaption,
    notification: notification,
    errorList: errorList
  }) %}

    <form class="form" method="post">

      <h2 class="govuk-heading-l">Check additions in your list options</h2>

      <p>You have both deleted and added entries. This screen allows you to re-assign entries if necessary.</p>
      <p>Choose an original item to update to the new entry, or select 'Add as new item' the conflict is not critical and you genuinely want to add a new entry</p>

      <h2 class="govuk-heading-m">Are these new items?</h2>
      <p>Select 'Add new item' for new items, otherwise chose the appropriate deleted entry that this item has superseded</p>

      <table class="govuk-table app-conditions-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Added entry</th>
            <th scope="col" class="govuk-table__header">Original item or action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for otherConflict in conflicts.other %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">{{ otherConflict.conflictItem.text }}</span>
            <td class="govuk-table__cell govuk-!-width-one-quarter">
              {{ govukSelect({
                id: "otherItem",
                name: "otherItem",
                items: otherConflict.linkableItems
                })
              }}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: 'Apply'
        }) }}

        <a href="{{ backLink.href }}" class="govuk-link govuk-link--no-visited-state">
          Cancel
        </a>
      </div>

    </form>
    {% endcall %}

  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
