{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "pages-panel-left/macro.njk" import appPagesPanelLeft %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
{% call appPageBody({
  heading: pageHeading,
  description: pageDescription,
  caption: pageCaption,
  actions: pageActions,
  classes: "govuk-grid-column-full",
  backLink: backLink
}) %}

  {% if notification | length %}
    {% call govukNotificationBanner({
        type: "success"
      }) %}
    <p class="govuk-notification-banner__heading">{{ notification }}</p>
    {% endcall %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if lists | length > 0 %}
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 app-pages-header__title">{{ lists | length }} list{{ 's' if lists | length != 1 else '' }}</h2>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
      <form class="form">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          
          {% for list in lists %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">{{ list.title }}</span><p>Used in: {{ list.usedIn }}</p></td>
              <td class="govuk-table__cell"><a href="{{ list.editUrl }}" class="govuk-link govuk-link--no-visited-state">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{{ list.deleteUrl }}" class="govuk-link govuk-link--no-visited-state">Delete</a></td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
      </form>
    </div>
  </div>
{% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
