{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "pages-panel-left/macro.njk" import appPagesPanelLeft %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
{% call appPageBody({
  heading: pageHeading,
  description: pageDescription,
  caption: pageCaption,
  actions: pageActions,
  classes: "govuk-grid-column-full govuk-grid-column-one-half-from-desktop",
  backLink: backLink
}) %}

  {% if notification | length %}
    {% call govukNotificationBanner({
        type: "success"
      }) %}
    <p class="govuk-notification-banner__heading">{{ notification }}</p>
    {% endcall %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if pages | length > 0 %}
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ pages | length }} page{{ 's' if pages | length != 1 else '' }}</h2>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            {% if rightSideActions %}
              <div style="text-align: right; display: flex; gap: 8px; justify-content: flex-end; margin-bottom: 0;">
                {% for action in rightSideActions %}
                  {{ govukButton({
                    text: action.text,
                    href: action.href,
                    classes: action.classes + " govuk-!-margin-bottom-0",
                    attributes: action.attributes + " style='white-space: nowrap; padding: 12px 18px; font-size: 18px; min-width: auto; margin-bottom: 0;'",
                    element: "a"
                  }) }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      {% endif %}

      <form class="form">
          {% for page in pages %}
            <div class="govuk-grid-row page-row">
              <div class="govuk-grid-column-full">
              {{ appPagesPanelLeft({
                formName: name,
                pageNum: loop.index,
                pageId: page.id,
                pageTitle: page.title,
                pageEditUrl: page.editUrl,
                pagePreviewUrl: previewBaseUrl + page.path + "?force",
                rows: page.questionRows,
                isEndPage: page.isEndPage
                }) }}
              </div>
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
{% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
