{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "reorder-panel/macro.njk" import appReorderPanel %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  <form class="form" method="post">
    {% call appPageBody({
      heading: pageHeading,
      description: pageDescription,
      caption: pageCaption,
      actions: pageActions,
      classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
      backLink: backLink
    }) %}

    <div class="govuk-visually-hidden" id="reorder-announcement" aria-live="polite" aria-atomic="true"></div>

    <ol class="app-reorderable-list" id="items-container" data-module="items-reorder">
      {% for page in pages %}
        {% set isFixed = page.isCheckAnswersPage | default(false) %}
        {% set itemClasses = "app-reorderable-list__item" %}
        {% if isFixed %}
            {% set itemClasses = itemClasses + " check-answers-item" %}
        {% endif %}

        {{ appReorderPanel({
            itemTypeName: 'Page',
            itemNum: loop.index,
            itemTitle: page.title,
            itemId: page.id,
            totalItems: pages.length,
            isFixed: isFixed,
            isFirst: loop.first,
            isLast: loop.last,
            isFocus: page.isFocus,
            prevFocusDirection: page.prevFocusDirection,
            itemClasses: itemClasses,
            dataId: page.id
          })
        }}
      {% endfor %}
    </ol>

    <input type="hidden" name="itemOrder" id="itemOrder" value="{{ itemOrder }}" />
  </form>
{% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("items-reorder.js") }}"></script>
{% endblock %}
