{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
  heading: pageHeading,
  description: pageDescription,
  caption: pageCaption,
  actions: pageActions,
  classes: "govuk-grid-column-full",
  backLink: backLink,
  useNewMasthead: true,
  errorList: badRequestErrorList
}) %}

    <div class="govuk-grid-column-one-half-from-desktop">
      <form class="form" method="post" id="page-overview" tabindex="-1">
        {%- include "../views/forms/editor-v2/partials/questions-left-panel.njk" -%}
      </form>

    </div>
    <div class="govuk-grid-column-one-half-from-desktop preview-panel page-preview-panel" id="preview-panel">
      {%- include "../views/forms/editor-v2/partials/questions-right-panel.njk" -%}
    </div>
  {% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
{% endblock %}
