{% extends "layouts/page.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "reorder-panel/macro.njk" import appReorderPanel %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  <form class="form" method="post">
    {% call appPageBody({
      heading: pageHeading,
      description: pageDescription,
      caption: pageCaption,
      actions: pageActions,
      classes: "govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop",
      backLink: backLink,
      errorList: badRequestErrorList
    }) %}

    <div class="govuk-visually-hidden" id="reorder-announcement" aria-live="polite" aria-atomic="true"></div>

    <ol class="app-reorderable-list" id="items-container" data-module="items-reorder" data-itemtype="Section">
      {% for section in sections %}
        {% set itemClasses = "app-reorderable-list__item" %}

        {{ appReorderPanel({
            itemTypeName: 'Section',
            itemNum: loop.index,
            itemTitle: section.title,
            itemId: section.id,
            totalItems: section.length,
            isFirst: loop.first,
            isLast: loop.last,
            isFocus: section.isFocus,
            prevFocusDirection: section.prevFocusDirection,
            itemClasses: itemClasses,
            dataId: section.id
          })
        }}
      {% endfor %}
    </ol>

    <input type="hidden" name="itemOrder" id="itemOrder" value="{{ itemOrder }}" />
  </form>
{% endcall %}
{% endblock %}

{% block mainEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath("items-reorder.js") }}"></script>
{% endblock %}
