{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "page-body/macro.njk" import appPageBody %}

{% set mainClasses = "govuk-main-wrapper--masthead" %}

{% block content %}
  {% call appPageBody({
    heading: pageHeading,
    caption: pageCaption,
    errorList: errorList,
    classes: "govuk-grid-column-two-thirds",
    backLink: backLink,
    useNewMasthead: true
  }) %}

    {{ govukWarningText({
      text: "Uploading Welsh translations will replace your current translations. This action cannot be undone.",
      iconFallbackText: "Warning"
    }) }}

    <p class="govuk-body">Before you upload new translations, you should <a href="{{ downloadAction }}" class="govuk-link govuk-link--no-visited-state">download current translations</a> in case you need to compare or revert.</p>

    <form method="post" action="#" enctype="multipart/form-data" novalidate>
      {{ govukFileUpload({
        id: "translations",
        name: "translations",
        label: {
          text: "Choose a translations Excel file",
          classes: "govuk-label--m"
        },
        errorMessage: {
          text: formErrors.translations.text
        } if formErrors.translations,
        accept: ".json"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Upload translations"
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: backLink.href,
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>

  {% endcall %}
{% endblock %}
