{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set component = params.component %}
{% set operator = params.operator %}
{% set value = params.value %}
{% set displayName = params.displayNameField %}

{% switch params.type %}
  {% case "StringValue" %}
    {{ govukInput(params.value) }}
  {% case "ListItemRef" %}
    {{ govukRadios(params.value) }}
  {% case "RelativeDate" %}
{% endswitch %}
