{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% switch params.conditionType %}
  {% case "StringValue" %}
    {{ govukInput(params.value) }}
  {% case "NumberValue" %}
    {{ govukInput(params.value) }}
  {% case "ListItemRef" %}
    {{ govukRadios(params.value) }}
  {% case "BooleanValue" %}
    {{ govukRadios(params.value) }}
  {% case "RelativeDate" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput(params.value.period) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukRadios(params.value.unit) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ govukRadios(params.value.direction) }}
      </div>
    </div>
{% endswitch %}
<input type="hidden" name="{{ params.conditionTypeName }}" value="{{ params.conditionType }}" />
<input type="hidden" name="{{ params.listIdName }}" value="{{ params.listId }}" />
