{% set typeName = params.itemTypeName %}
{% set typeNameLower = params.itemTypeName | lower %}
{% set focusClass = " reorder-panel-focus" if params.isFocus else "" %}
{% set upHiddenClass = "-hidden" if params.isFirst else "" %}
{% set downHiddenClass = "-hidden" if params.isLast else "" %}

{% set autoFocusUpButton = false %}
{% set autoFocusDownButton = false %}

{% if params.isFocus %}
  {% if params.prevFocusDirection == "up" %}
    {% if not params.isFirst %}
      {% set autoFocusUpButton = true %}
    {% elif params.isFirst and not params.isLast %}
      {% set autoFocusDownButton = true %}
    {% endif %}
  {% elif params.prevFocusDirection == "down" %}
    {% if not params.isLast %}
      {% set autoFocusDownButton = true %}
    {% elif params.isLast and not params.isFirst %}
      {% set autoFocusUpButton = true %}
    {% endif %}
  {% endif %}
{% endif %}

{% set ariaLabelUp = "Button, Move " + typeNameLower + ": Up, " + typeName + " " + params.itemNum + " of " + params.totalItems + ": " + params.itemTitle %}
{% set ariaLabelDown = "Button, Move " + typeNameLower + ": Down, " + typeName + " " + params.itemNum + " of " + params.totalItems + ": " + params.itemTitle %}
{% set ariaAlert = "The list of " + typeNameLower + "s has been reordered, " + params.itemTitle + " is now " + typeNameLower + " " + params.itemNum + " of " + params.totalItems + ". " if params.isFocus else "" %}

{% if params.isFocus %}
  {% if params.prevFocusDirection == "up" or params.isLastRow %}
    {% set ariaLabelUp = ariaAlert + ariaLabelUp %}
  {% endif %}
  {% if params.prevFocusDirection == "down" or params.isFirstRow %}
    {% set ariaLabelDown = ariaAlert + ariaLabelDown %}
  {% endif %}
{% endif %}

{% set ariaTags = "aria-live=alert" if params.isFocus else "" %}
{% set ariaContent = "<p class='govuk-visually-hidden'>The list of " + typeNameLower + "s has been reordered, " + params.itemTitle + " is now " + typeNameLower + " " + params.itemNum + " of " + params.totalItems + ".</p>" if params.isFocus else "" %}

<li class="{{ params.itemClasses }} reorder-panel{{ focusClass }}" data-id="{{ params.dataId }}">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title item-title" style="display: inline;">
      <span class="item-number">ABC {{ typeName }} {{ params.itemNum }}</span>: {{ params.itemTitle }}
    </h2>
    <div class="govuk-button-group">
      <button type="submit" name="movement" id="focus-up-{{ params.itemId }}" class="govuk-button govuk-button--secondary reorder-button{{ upHiddenClass }} reorder-button-no-js" {% if autoFocusUpButton %}autofocus{% endif %} value="up|{{ params.itemId }}" aria-label="{{ ariaLabelUp }}">Up</button>
      <button type="submit" name="movement" id="focus-down-{{ params.itemId }}" class="govuk-button govuk-button--secondary reorder-button{{ downHiddenClass }} reorder-button-no-js" {% if autoFocusDownButton %}autofocus{% endif %} value="down|{{ params.itemId }}" aria-label="{{ ariaLabelDown }}">Down</button>
      <button class="app-button govuk-button govuk-button--secondary js-reorderable-list-up reorder-button-js" type="button" aria-label="Button, Move {{ typeNameLower }}: Up, {{ typeName }} {{ params.itemNum }} of {{ params.totalItems }}: {{ params.itemTitle }}" style="display: none; width: 80px;" data-questionid="{{ params.dataId }}">Up</button>
      <button class="app-button govuk-button govuk-button--secondary js-reorderable-list-down reorder-button-js" type="button" aria-label="Button, Move {{ typeNameLower }}: Down, {{ typeName }} {{ params.itemNum }} of {{ params.totalItems }}: {{ params.itemTitle }}" style="display: none; width: 80px;" data-questionid="{{ params.dataId }}">Down</button>
    </div>
  </div>
</li>
