{% from "govuk/components/button/macro.njk" import govukButton %}
<div>
  {% if params.sectionTitle.text %}
  <h2 class="govuk-caption-l govuk-!-margin-top-0 {{ params.sectionTitle.classes }}" id="section-title">
    {{- params.sectionTitle.text -}}
  </h2>
  {% endif %}
  <h1 class="govuk-heading-l {{ params.pageTitle.classes }}">
    {{ params.pageTitle.text }}
  </h1>
  {% for component in params.components %}
    {% set model = component.model %}
    {%- include 'preview-components/' + component.questionType | lower + ".njk" -%}
  {% endfor %}
  {% if params.repeaterButton %}
    {{ govukButton({
      html: "Add another <span id=\"repeater-btn\" class=\"" + params.repeaterButton.classes + "\">" + params.repeaterButton.text + "</span>"
    }) }}
  {% endif %}
</div>
