{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {% if userFailedAuthorisation %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          html: "We couldn't sign you in. Please contact the system administrator for help, <a href=\"mailto:steven.thomas@defra.gov.uk\">steven.thomas@defra.gov.uk</a>."
        }
      ]
    }) }}
  {% endif %}

  {{ appHeading({
    text: pageTitle,
    classes: "govuk-heading-l"
  }) }}

  {% call appPageBody() %}
    {{ govukButton({
      text: "Sign in",
      href: "/library",
      isStartButton: true
    })}}
  {% endcall %}
{% endblock %}
