{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "grid-layout/macro.njk" import appGridLayout %}
{% from "page-body/macro.njk" import appPageBody %}

{% set mainClasses = "govuk-main-wrapper--editor" %}

{% block head %}
  {{ super() }}
  <link href="{{ getAssetPath("stylesheets/maps.scss") }}" rel="stylesheet">
  <style type="text/css">
    .govuk-form-group { margin-bottom: 0 }
    .app-location-field--preview, .app-geospatial-field--preview { margin-bottom: 40px }
  </style>
{% endblock %}

{% block content %}
  {% call appPageBody({
    heading: {
      text: pageTitle,
      size: "large",
      caption: caption
    }
  }) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% for item in geojson %}
          {% if repeaterName %}
            <h2 class="govuk-heading-m" id="answer_{{loop.index0}}">Answer {{loop.index}}</h2>
          {% endif %}
          {% if component.type === 'GeospatialField' %}
            <div class="app-geospatial-field--preview">
              <div id="map_{{loop.index0}}">
                <textarea class="govuk-textarea" readonly data-maplayers="{{mapLayers}}">{{ item | dump | safe }}</textarea>
              </div>
              <div id="list_{{loop.index0}}">
              </div>
            </div>
          {% elif component.type === 'EastingNorthingField' %}
            <div class="app-location-field--preview" data-locationtype="{{ component.type | lower }}" data-maplayers="{{mapLayers}}">
              <div id="map_{{loop.index0}}">
                <div class="app-location-field-inputs" hidden>
                  <input class="govuk-input" readonly value="{{ item.easting }}">
                  <input class="govuk-input" readonly value="{{ item.northing }}">
                </div>
              </div>
            </div>
          {% elif component.type === 'LatLongField' %}
            <div class="app-location-field--preview" data-locationtype="{{ component.type | lower }}" data-maplayers="{{mapLayers}}">
              <div id="map_{{loop.index0}}">
                <div class="app-location-field-inputs" hidden>
                  <input class="govuk-input" readonly value="{{ item.latitude }}">
                  <input class="govuk-input" readonly value="{{ item.longitude }}">
                </div>
              </div>
            </div>
          {% elif component.type === 'OsGridRefField' %}
            <div class="app-location-field--preview" data-locationtype="{{ component.type | lower }}" data-maplayers="{{mapLayers}}">
              <div id="map_{{loop.index0}}">
                <div class="app-location-field-inputs" hidden>
                  <input class="govuk-input" readonly value="{{ item }}">
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endcall %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" nonce="{{ cspNonce }}" src="{{ getAssetPath("maps.js") }}"></script>
{% endblock %}
