<h2 class="govuk-heading-l">Advanced patterns</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Repeating questions</h3>
    <p class="govuk-body">
      Based on the <a href="https://design-system.dwp.gov.uk/patterns/add-another-thing" class="govuk-link--no-visited-state govuk-link--no-visited-state" target="_blank">DWP Design System
      'Add
      another
      thing'
      pattern</a>,
      get repeated sets of data from users with repeating questions. Design the question once and
      set the number of times you
      want users to answer it.

    </p>

  </div>
  <div class="govuk-grid-column-one-third">
    <img src="/assets/images/website/add-another.svg" class="govuk-!-width-full" alt="Illustration showing the add another pattern with repeating form sections">
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Let users upload more than one file at a time</h3>
    <p class="govuk-body">
      Follows principles from the HMRC <a href="https://design.tax.service.gov.uk/hmrc-design-patterns/file-upload/" class="govuk-link--no-visited-state govuk-link--no-visited-state" target="_blank">file upload
      pattern</a>. Users
      can upload
      multiple
      files, and see their progress and status as they are uploaded to their form.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>shows and announces progress while uploading and keeps the button visible to add
        more
      </li>
      <li>lets users remove or replace individual files before continuing</li>
      <li>validates type and size per file and explains any errors in plain English</li>
    </ul>

  </div>
  <div class="govuk-grid-column-one-third">
    <img src="/assets/images/website/files.gif" class="govuk-!-width-full" alt="Animated demonstration of file upload interface with progress indicators">
  </div>
</div>
{%- include "website/home/full-feature-list.njk" -%}
