<h2 class="govuk-heading-l">Defra Form Developer Toolkit</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">The Defra Form Developer Toolkit is built on top of the Hapi framework,
      so it
      slots
      neatly into apps you're already running there. It removes the need to hand-code every
      form
      page or
      journey by letting you define everything in configuration.</p>

    <p class="govuk-body">The Toolkit handles rendering, validation, accessibility, and the full
      request
      lifecycle, while still giving you the freedom to extend it with your own Hapi services,
      routes, and
      templates.</p>

    <p class="govuk-body">That means less boilerplate, faster delivery, and accessible forms by
      default.</p>

    <p class="govuk-body">
      <a class="govuk-link--no-visited-state" target="_blank" href="https://defra.github.io/forms-engine-plugin/">Read the documentation</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <img src="/assets/images/website/plugin.svg" class="govuk-!-width-full" alt="Illustration showing the Defra Form Developer Toolkit architecture">
  </div>
</div>

{%- include "website/home/full-feature-list.njk" -%}
