<h2 class="govuk-heading-l">User experience</h2>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Consistent labels and error messages</h3>
      <p class="govuk-body">
        The short description you give each question is automatically used to generate error
        messages
        (based on <a href="https://design-system.service.gov.uk/components/error-message/" class="govuk-link--no-visited-state" target="_blank">GOV.UK Design System templates</a>). It also
        creates
        the labels shown on <a href="https://design-system.service.gov.uk/patterns/check-answers/" class="govuk-link--no-visited-state" target="_blank">check answer pages</a>.
        This keeps your form consistent with other GOV.UK forms and saves you time, so you can
        focus on designing the rest of your form.
      </p>

    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
      <img src="/assets/images/website/errors.gif" class="govuk-!-width-full" alt="Animated demonstration of error message generation and display">
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Let users save their progress and come back to it later</h3>
      <p class="govuk-body">
        People can save their progress at any point and finish later. We email a
        magic link. When they return, they confirm a security answer and carry on
        from where they left off. No account needed.
      </p>

    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/assets/images/website/save-exit.svg" class="govuk-!-width-full" alt="Illustration showing save and return functionality with progress indicator">
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Choose how to retrieve submission data</h3>
      <p class="govuk-body">
        Flexible options for accessing and managing form submission data. Choose the method that
        best fits
        your
        workflow and requirements.
      </p>

    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/assets/images/website/outputs.svg" class="govuk-!-width-full" alt="Illustration showing data output formats including TXT, JSON and API connections">
    </div>
  </div>

{%- include "website/home/full-feature-list.njk" -%}
