@use "govuk-frontend" as *;

.app-form-status {
  display: inline-block;

  // Mobile view spacing
  .govuk-tag--orange {
    margin-bottom: govuk-spacing(1);
  }
  .govuk-tag--green {
    margin-top: govuk-spacing(1);
  }

  // Tablet and above
  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: center;
    gap: govuk-spacing(1);

    .govuk-tag {
      margin: 0;
    }
  }
}
