{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set tagDraft = govukTag({ text: "Draft", classes: "govuk-tag--orange govuk-!-margin-bottom-1" }) %}
{% set tagLive = govukTag({ text: "Live", classes: "govuk-tag--green govuk-!-margin-top-1" }) %}
{% set tagOffline = govukTag({ text: "Offline", classes: "govuk-tag--grey govuk-!-margin-bottom-1" }) %}

{% if params.metadata.offline and params.metadata.draft | length %}
  {{ tagDraft }} {{ tagOffline }}
{% elseif params.metadata.offline and params.metadata.live | length %}
  {{ tagOffline }}
{% elseif params.metadata.draft | length and params.metadata.live | length %}
  {{ tagDraft }} {{ tagLive }}
{% elseif params.metadata.live | length %}
  {{ tagLive }}
{% else %}
  {{ tagDraft }}
{% endif %}
