{% from "govuk/components/tag/macro.njk" import govukTag %}

<div class="app-form-status">
{% set tagDraft = govukTag({
  text: "Draft",
  classes: "govuk-tag--orange"
}) %}

{% set tagLive = govukTag({
  text: "Live",
  classes: "govuk-tag--green"
}) %}

{% if params.metadata.draft | length and params.metadata.live | length %}
  {{ tagDraft }} {{ tagLive }}
{% elseif params.metadata.live | length %}
  {{ tagLive }}
{% else %}
  {{ tagDraft }}
{% endif %}
</div>
