NODE_ENV=development
PORT=3000
ENVIRONMENT=local
APP_BASE_URL=http://localhost:3000
MANAGER_URL=http://localhost:3001
PREVIEW_URL=http://localhost:3009
ENTITLEMENT_URL=http://localhost:3004
NOTIFY_URL=http://localhost:3006
SHAREPOINT_URL=http://localhost:3007
SERVICE_VERSION=
LOG_ENABLED=true
LOG_LEVEL=debug
LOG_FORMAT=pino-pretty
REACT_LOG_LEVEL=info
REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_HOST=localhost
REDIS_KEY_PREFIX=forms-designer
IS_SECURE_OVERRIDE=false
TRACING_HEADER=
AWS_REGION=eu-west-2

PHASE=beta

SESSION_COOKIE_PASSWORD=
SESSION_COOKIE_TTL=86400000
SESSION_TTL=2419200000
SUBMISSION_URL=http://localhost:3002
USE_SINGLE_INSTANCE_CACHE=true

# mock OIDC
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
OIDC_WELL_KNOWN_CONFIGURATION_URL=
ROLE_EDITOR_GROUP_ID=

AUDIT_URL=http://localhost:3003

FILE_DOWNLOAD_PASSWORD_TTL=

FEATURE_FLAG_USE_ENTITLEMENT_API=true
FEATURE_FLAG_ALLOW_PAYMENTS=false
FEATURE_FLAG_ALLOW_GEOSPATIAL=false
ORDNANCE_SURVEY_API_KEY=
ORDNANCE_SURVEY_API_SECRET=
SNS_ENDPOINT=http://localhost:4566
SNS_TOPIC_ARN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
