@use "../govuk-frontend" as *;

$defra-brand-colour: govuk-organisation-colour(department-for-environment-food-rural-affairs);

.editor-card {
  &-background {
    background-color: govuk-colour("light-grey");
    padding-bottom: 10px;
  }

  &-background-white {
    background-color: govuk-colour("white");
    padding-bottom: 10px;
  }

  &-no-padding-bottom {
    padding-bottom: 0;
  }

  &-title {
    text-decoration: solid $defra-brand-colour 5px underline;
    text-underline-offset: 10px;
    box-shadow: inset 0 -1px 0 govuk-colour("mid-grey");
    padding-bottom: 10px;
  }
}

.govuk-summary-card__content .govuk-summary-list__show_final_divider .govuk-summary-list__row:last-of-type {
  border-bottom: 1px solid $govuk-border-colour;
}

/* Styles for the reorderable list */
.gem-c-reorderable-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gem-c-reorderable-list__item {
  margin-bottom: 15px;
  border-left: 5px solid #008938;
  outline: 1px solid #b1b4b6;
  padding: 15px;
  background-color: #fff;
}

.gem-c-reorderable-list__wrapper {
  display: flex;
  align-items: center;
}

.gem-c-reorderable-list__content {
  flex-grow: 1;
}

.gem-c-reorderable-list__actions {
  display: none;
  /* Hide by default */
  flex-direction: column;
  margin-left: 15px;
}

.gem-c-reorderable-list__actions .govuk-button {
  margin-bottom: 10px;
}

.govuk-body.fauxlabel.option-label-display {
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
  /* Break long words if necessary */
  overflow-wrap: break-word;
  /* Ensure wrapping for long words */
}
