  <div class="govuk-summary-card govuk-!-margin-top-0 page-panel-left-standard">
    <div class="govuk-summary-card__content govuk-!-padding-top-0 editor-card-background">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <div class="govuk-grid-row" id="page-settings-container-1">
              <div id="card-1">
                <div class="govuk-summary-card__content">
                  <div class="editor-card-title">{{ params.title }}</div>
                  <div class="govuk-summary-card__title-wrapper govuk-!-padding-top-0"></div>
                  <span class="govuk-caption-l">{{ params.caption }}</span>
                    {{ caller() if caller else (params.html | safe if params.html else params.text) }}
                </div>
              </div>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
