name: Publish

on:
  push:
    branches:
      - main
    paths:
      - '**/babel.config.*'
      - '**/postcss.config.*'
      - '**/webpack.config.*'
      - 'designer/.browserslistrc'
      - 'designer/client/src/**'
      - 'designer/server/src/**'
      - 'model/.browserslistrc'
      - 'model/src/**'
      - 'Dockerfile'
      - '!**/*.test.*'

  workflow_dispatch:

concurrency:
  group: publish

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: "094954420758"

jobs:
  build:
    if: github.run_number != 1
    name: CDP-build-workflow
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Build and Publish
        uses: DEFRA/cdp-build-action/build@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
