@use "../govuk-frontend" as *;

$defra-brand-colour: govuk-organisation-colour(department-for-environment-food-rural-affairs);

ol {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.pages-reorder-panel {
  border-left: 10px solid;
  border-left-color: $defra-brand-colour;
  padding-left: 0;

  &-focus {
    border-top: 2px solid $govuk-focus-colour;
    border-right: 2px solid $govuk-focus-colour;
    border-bottom: 2px solid $govuk-focus-colour;
  }

  .govuk-summary-card__title-wrapper {
    background-color: govuk-colour("white");

    .govuk-button-group {
      white-space: nowrap;
      display: block;
    }
  }

  .reorder-button {
    width: 80px;
  }

  .reorder-button-hidden {
    width: 80px;
    visibility: hidden;
  }
}
